<p> <%= I18n.t'staticpages-info.thanks' %> </p>

<h2><%= I18n.t'staticpages-info.company_info' %></h2>
<table>
  <tr align="left">
    <th><%= I18n.t'staticpages-info.company' %>:</th>
    <th><%= I18n.t'staticpages-info.mojsosed' %></th>
  </tr>
  <tr align="left">  
    <th><%= I18n.t'staticpages-info.address' %>:</th>
    <th><%= I18n.t'staticpages-info.sosed_address' %></th>
</tr>
  <tr align="left">
    <th><%= I18n.t'staticpages-info.city' %>:</th>
    <th><%= I18n.t'staticpages-info.sosed_city' %></th>
  </tr>   
  <tr align="left"> 
    <th><%= I18n.t'staticpages-info.payment_purpose' %>:</th>
    <th><%= I18n.t'staticpages-info.payment_purpose_text' %></th>
  </tr>
  <tr align="left">
    <th><%= I18n.t'staticpages-info.account' %>:</th>
    <th><%= I18n.t'staticpages-info.sosed_account' %></th>
  </tr>
  <tr align="left">
    <th><%= I18n.t'staticpages-info.price' %>:</th>                      
    <th> <%= I18n.t'staticpages-info.price_amount' %></th>                  
  </tr>
</table>

<h2><%= I18n.t'staticpages-info.faq' %></h2>

<p><%= I18n.t'staticpages-info.faq-q1' %><br>
<%= I18n.t'staticpages-info.faq-a1' %></p>

<p><%= I18n.t'staticpages-info.faq-q2' %><br>
<%= I18n.t'staticpages-info.faq-a2' %></p>

<p><%= I18n.t'staticpages-info.faq-q3' %><br>
<%= I18n.t'staticpages-info.faq-a3' %></p>

<p><%= I18n.t'staticpages-info.faq-q4' %><br>
<%= I18n.t'staticpages-info.faq-a4' %></p>

<p><%= I18n.t'staticpages-info.faq-q5' %><br>
<%= I18n.t'staticpages-info.faq-a5' %></p>

<p><%= I18n.t'staticpages-info.faq-q6' %><br>
<%= I18n.t'staticpages-info.faq-a6' %></p>

<p><%= I18n.t'staticpages-info.faq-q7' %><br>
<%= I18n.t'staticpages-info.faq-a7' %></p>

