<html>
<head>
  <title></title>
</head>
<body>
  <div>
    <h1>Your dashboard</h1>
    <% if user_signed_in? %>
      <h2><p><strong>Your subscription</strong> <br></p></h2>
      Currently you have no subscriptions.
      <h2><p><strong>Your leads to potencial customers</strong> <br></p></h2>
      Currently you have no leads.
        No leads yet.  
    <% else %>
      <h2><p><strong>Campaigns you applied for</strong> <br></p></h2>
      You have to <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Login", new_user_session_path %> to see your campaigns. <br>
  

      <h2><p><strong>Your active campaigns</strong> <br></p></h2>
      You have to <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Login", new_user_session_path %> to see your active campaigns.
      
      <h2><p><strong>Your leads to potencial customers</strong> <br></p></h2>
      You have to <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Login", new_user_session_path %> to see your leads.
    <% end %>
  </div>
</body>
</html>