<html>
<head>
  <title>LeadShare</title>
</head>
<body>
  <div>
    <h2><p>WELCOME TO SOSED BUSINESS APP</p></h2>
  <ol>
    <li>CHOOSE BUSINESS TYPE AND LOCATIONS from which you want to receive new leads.</li>
    <li>GET ALL LEADS ON ONE PLACE.</li>
    <li>TRACK YOUR COSTS/SUCESS RATE.</li>
  </ol>
  </div>
  <div>
    <h2>CHOOSE FROM WHERE YOU WANT LEADS FOR YOUR COMPANY </h2>
    <body>
    <%= remember = '' %>
    <% @campaigns.each do |campaign| %>
      <% if campaign.title != remember %>
        <h3><%= campaign.title %></h3>
      <% end %>
      <% remember = campaign.title %> 
      <% if campaign.title == "Painting" %>
        <%= link_to campaign.location, campaign %>
      <% elsif campaign.title == "Fasades" %>
        <%= link_to campaign.location, campaign %>
      <% elsif campaign.title == "Knauf" %>
        <%= link_to campaign.location, campaign %>
      <% elsif campaign.title == "Mechanical Installations" %>
        <%= link_to campaign.location, campaign %>
      <% elsif campaign.title == "Electrical Installations" %>
        <%= link_to campaign.location, campaign %>
      <% elsif campaign.title == "Renovations" %>
        <%= link_to campaign.location, campaign %>
      <% elsif campaign.title == "Ceramics" %>
        <%= link_to campaign.location, campaign %>
      <% elsif campaign.title == "Parquet" %>
        <%= link_to campaign.location, campaign %>
      <% elsif campaign.title == "Masonry" %>
        <%= link_to campaign.location, campaign %>
      <% elsif campaign.title == "Roofing" %>
        <%= link_to campaign.location, campaign %>
      <% end %>
           (<%= campaign.coowners.count %>/5 applied) <br>
        <% %>
    <% end %> <br>

<h2>Can't find campaign for your business and your location?</h2> 
<h3><a href="campaigns/new">CREATE a new one!</a></h3>

  </div>  
</body>
</html>
