<div class="body_plans">
  <div class="plans_title">
    Poiščite paket, ki je pravi za vas.
  </div>
  <div class="columns">
    <ul class="wookmark">
      <div class="lead_box">
        <div class="plans_item_text"><%= link_to "Ekspresni", plans_1_path %></div>
        <div class="plans_item_text">45€</div>
        <div class="plans_item_text"> - 1 mesec </div>
        <div class="plans_item_text"> - neomejeni kontakti </div>
        <div class="plans_item_buy_button"><%= link_to "Naroči", plans_1_path %></div>
      </div>
      <div class="lead_box">
        <div class="plans_item_text"><%= link_to "Profesionalni", plans_2_path %></div>
        <div class="plans_item_text">240€ </div>
        <div class="plans_item_text"> - 6 mesecev (40€/mesec)</div>
        <div class="plans_item_text"> - neomejeni kontakti </div>
        <div class="plans_item_text"> - certifikacija </div>
        <div class="plans_item_buy_button"><%= link_to "Naroči", plans_2_path %></div>
      </div>
      <div class="lead_box">
        <div class="plans_item_text"><%= link_to "Poslovni", plans_3_path %></div>
        <div class="plans_item_text">420€ </div>
        <div class="plans_item_text"> - 12 mesecev (35€/mesec) </div>
        <div class="plans_item_text"> - neomejeni kontakti </div>
        <div class="plans_item_text"> - certifikacija </div>
        <div class="plans_item_text"> - neposredna prodaja storitev</div>
        <div class="plans_item_text"> - solastniško članstvo*</div>
        <div class="plans_item_buy_button"><%= link_to "Naroči", plans_3_path %></div>
      </div>
    </ul>
  </div>
  <div class="plans_item_note">
    Vse storitve vključujejo najboljšo podporo z osebnim pristopom.
  </div>
  <div class="plans_faq_item">
    <div class="plans_faq_item_question">
      Kaj je to kontakt?
    </div>
    <div class="plans_faq_item_answer">
      Kontakt pomeni dostop do kontaktnih podatkov stranke, ki je oddala povpraševanje. Vsak lahko dostopa do povpraševanja, dostop do kontaktnih podatkov pa je na voljo samo z nakupom kontakta oz. za naročnike paketov.
    </div>
  </div>
  <div class="plans_buy">
  </div>
  <div class="plans_faq_item">
    <div class="plans_faq_item_question">
      Kaj pomeni neomejeno številko kontaktov na mesec?
    </div>
    <div class="plans_faq_item_answer">
      To pomeni, da lahko dostopite do kontaktnih podatkov za vsako povpraševanje, objavljeno na naši domači strani.
    </div>
  </div>
  <div class="plans_faq_item">
    <div class="plans_faq_item_question">
      Koliko izvajalcev lahko dostopi do istega kontakta?
    </div>
    <div class="plans_faq_item_answer">
      Vsak kontakt je na voljo največ 5 različnim izvajalcem. Na ta način želimo preprečiti, da bi isto stranko kontaktiralo preveč izvajalcev.
    </div>
  </div>
  <div class="plans_faq_item">
    <div class="plans_faq_item_question">
      Kako lahko zakupim paket kontaktov?
    </div>
    <div class="plans_faq_item_answer">
      Na voljo so 3 paketi kontaktov: 1-mesečni, 6-mesečni in 12-mesečni. Plačilo izbranega paketa je v enkratnem znesku, nakazilo pa lahko izvedete preko bančnega nakazila, Paypala ali s kreditno kartico. Zadnje trenutno ni na voljo, bo pa v kratkem.
    </div>
  </div>
  <div class="plans_faq_item">
    <div class="plans_faq_item_question">
      Ali nudite garancijo? 
    </div>
    <div class="plans_faq_item_answer">
      Za svoje storitve nudimo garancijo. Če z našo storitvijo ne boste zadovoljni, vam vrnemo denar.
    </div>
  </div>
  <div class="plans_faq_item">
    <div class="plans_faq_item_question">
      Kaj pomeni poslovna certifikacija? 
    </div>
    <div class="plans_faq_item_answer">
      Poslovna certifikacije je dokument, s katerim bo izvajalec pridobil poseben verificiran profil, ki ga bo lahko uporabljal za dosego večje stopnje zaupanja pri svojih strankah ter partnerjih. Za uporabnike Profesionalnega in Poslovnega paketa bo certifikacijo pripravil neodvisni strokovnjak na podlagi analize podjetja ter mnenja strank, partnerjev in dobaviteljev.
    </div>
  </div>
  <div class="plans_faq_item">
    <div class="plans_faq_item_question">
      Kaj pomeni neposredna prodaja storitev? 
    </div>
    <div class="plans_faq_item_answer">
      Uporabniki Poslovnega paketa bodo lahko oblikovali do 5 konkretnih storitev s cenami, ki jim prinašajo največ zaslužka. Strankam, ki iščejo natančno te storitve, bomo nato v procesu dogovarjanja tudi ponudili te konkretne ponudbe uporabnikov Poslovnega paketa. Če se stranka odloči za sodelovanje z njimi, bodo tako lahko takoj pričeli z delom. V prihodnje bomo tem izvajalcem ponudili tudi možnost zavarovanja plačila preko Sosed.biz aplikacije.
    </div>
  </div>
  <div class="plans_faq_item">
    <div class="plans_faq_item_question">
      *Kaj pomeni solastniško članstvo? 
    </div>
    <div class="plans_faq_item_answer">
      Solastniško članstvo pomeni poseben status izvajalcev v podjetju Moj sosed. Člani bodo postali naši "solastniki" in bodo imeli dostop do internih podatkov poslovanja Sosed.biz aplikacije (stroški, prihodki, dobiček). Nagrajeni bodo tudi od prometa, ki ga Sosed.biz mesečno ustvari. In sicer bo med vse člane mesečno razdeljenih 20% celotnega prometa, ki ga je podjetje ustvarilo s Sosed.biz aplikacijo. Znesek bo nakazan članom v Sosed denarnico in ga bo lahko uporabil za nakupe znotraj aplikacije. V prihodnje bomo morda omogočili tudi prenos teh sredstev na uporabnikov tekoči račun. V daljni prihodnosti bi radi prenesli tudi pravo lastništvo na člane in bili kot podjetje Moj sosed samo skrbik za razvoj in vzdrževanje aplikacije.
    </div>
  </div>
</div>







