
<div class="body_wallet_payment">
<div class="wallet_payment_offer">
  <div class="wallet_payment_offer_title">
    EKSPRESNI paket kontaktov
  </div>
  <div class="wallet_payment_offer_promotion">
    ::Ekspresni paket kontaktov:: obsega 1 mesec neomejenega števila kontaktov po vaši izbiri.
  </div>
  <table class="wallet_payment_offer_company_info">
    <tr class="wallet_payment_offer_company_info_item" >
      <td><%= I18n.t'wallet-payment.offer_item_username' %>:</td>
      <% if user_signed_in? %>
        <td><%= current_user.email %></td>
      <% else %>
        <td> Vaše podjetje </td>
      <% end %>
    </tr>
  </table>

  <div class="wallet_payment_offer_date">
    <%= I18n.t'wallet-payment.offer_date' %>: <%= Date.today.strftime("%d/%m/%Y") %></strong><br>
  </div>

  <table class="wallet_payment_offer_sosed_info">
    <tr class="wallet_payment_offer_sosed_info_price">
      <td><%= I18n.t'wallet-payment.offer_price' %>:</td>
      <td>45 €</td>
    </tr>  
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td><%= I18n.t'wallet-payment.offer_purpose' %>:</td>
      <td><%= I18n.t'wallet-payment.offer_purpose_text' %></td>
    </tr>
    <tr class="wallet_payment_offer_sosed_info_item">
      <td><%= I18n.t'wallet-payment.offer_account' %>:</td>
      <td><%= I18n.t'wallet-payment.offer_mojsosed_account' %></td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td><%= I18n.t'wallet-payment.offer_company' %>:</td>
      <td><%= I18n.t'wallet-payment.offer_company_mojsosed' %></td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td><%= I18n.t'wallet-payment.offer_tax_id' %>:</td>
      <td><%= I18n.t'wallet-payment.offer_tax_id_mojsosed' %></td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td><%= I18n.t'wallet-payment.offer_address' %>:</td>
      <td><%= I18n.t'wallet-payment.offer_mojsosed_address' %></td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td><%= I18n.t'wallet-payment.offer_city' %>:</td>
      <td><%= I18n.t'wallet-payment.offer_mojsosed_city' %></td>
    </tr> 
  </table>
    <div class="wallet_payment_offer_instructions">
    Vaš paket bomo aktivirali v roku 24h od prejema plačila. Za morebitna dodatna vprašanja smo vam vedno na voljo na info@sosed.si. Veliko uspeha vam želimo. 
  </div> 

</div>
</div>



