<div class="body_wallet_payment">
<div class="wallet_payment_offer">
  <div class="wallet_payment_offer_title">
    PROVIZIJA
  </div>
  <div class="wallet_payment_offer_promotion">    
    Registracija v aplikacijo in spremljanje servisov ter novosti je popolnoma brezplačna. Če se pa odločite za aktivno sodelovanje - kar pomeni sprejem naročil in uporabo Sosed promocijskih materialov ter blagovne znamke, pa znaša provizija 30% od vsake opravljene storitve podjetju Moj sosed d.o.o.
  </div>

  <div class="wallet_payment_offer_promotion">
    Od zaračunanih 30% od storitev (brez strojne in programske opreme), podjetje Moj sosed najprej poravna stroške (podrobno so stroški predstavljeni v nadaljevanju).<br><br>
    Preostanek pa se razdeli po ključu 90% za afiliatorja (tistega, ki je pripeljal naročilo) in 10% za investiranje v nadaljni razvoj aplikacije.<br>
  </div>

  <div class="wallet_payment_offer_promotion">
    Z uporabo aplikacije lahko torej zaslužite na dva načina - s sprejemom servisov ter preko afiliacije. <br><br>
    Kako poteka afiliacija?<br><br>
    1. Na <%= link_to "PROMO STRANI", promo_path %> najdete Sosedova obvestila (A4 format).<br><br> 
    2. Izberete tisto, ki vam je najbolj všeč (lahko tudi več različnih), jih natisnete nekaj 10 v črno-beli ali barvni različici. <br><br>
    3. Na listke s telefonsko številko pod besedilom "Koda za naročilo" vpišete ali natisnete v drobnem tisku svojo afiliacijsko kodo (generirate jo <%= link_to "TUKAJ", profile_path %>).<br><br>
    4. Obvestila nalepite na oglasne deske v stanovanjskih blokih ali drugih javnih oglasnih deskah v vaši okolici.<br><br>
    5. Od vsakega naročila, ki prispe preko vas vam po prejetem plačilu provizije s strani serviserjev, ki so servis opravili, nakažemo konec meseca vašo zasluženo afiliacijo.<br><br>
    6. Poleg Sosed obvestil lahko naročila pripeljete na aplikacijo tudi preko afiliacijskega linka, ki ga lahko delite na spletu (na blogu, Facebooku, forumih, emailu oz. drugih kanalih). Za vsa naročila, prejeta preko vaše afiliacijske kode, vam prav tako pripada afiliacija v višini 90% provizije po plačanih stroških.<br><br>

  </div>

  <div class="wallet_payment_offer_promotion">
    Še povzetek v obliki enačb:<br><br>
    Vsi prihodki x 30% = PROVIZIJA <br>
    (Provizija - Stroški) x 90% = AFILIACIJA (plača se tistemu, ki pripelje stranko)<br>
    Prispevek - Stroški x 10% = PROFIT (investiramo ga v razvoj)<br>
  </div>


  <div class="wallet_payment_offer_instructions"> 
  </div> 
  <table class="wallet_payment_offer_sosed_info">
    <tr class="wallet_payment_offer_sosed_info_price">
      <td> </td>
      <td>MESEČNI STROŠKI:</td>
    </tr>  
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Računovodstvo in pravne storitve</td>
      <td>185,50 € </td>
    </tr>
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Stroški brezplačne 080 številke in 365 dežurstvo od 8h do 20h</td>
      <td>1.760,00 € </td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Administracija</td>
      <td>120,00 € </td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Domena stran Sosed.si in aplikacijo Leadshareapp.com ter gostovanje za Sosed.si</td>
      <td>5,80 € </td>
    </tr>
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Server za Leadshareapp.com</td>
      <td>6,99 € </td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Grafično oblikovanje</td>
      <td>120,00 € </td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Social media in branding</td>
      <td>120,00 € </td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Email marketing</td>
      <td>80,00 € </td>
    </tr>
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Programiranje</td>
      <td>250,00 € </td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>Vzdrževanje in podpora aplikacije</td>
      <td>120,00 € </td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>SKUPAJ</td>
      <td>2.768,29 € </td>
    </tr> 
  </table><br>

    <div class="wallet_payment_offer_promotion">
      Vse spremembe v zvezi s stroški bomo sproti beležili tukaj, saj se zavzemamo za transparentnost. Stroške bomo vedno poskusili nižati. V prihodnje bi želeli avtomatizirati telefonsko podporo - namesto tajnice se bi lahko oglasil "robot", ki bi potem preusmeril klic na prvega prostega serviserja, ki bi lahko ponudil plačljivo pomoč po telefonu (plačilo po minuti) ali pa se dogovoril za obisk.<br>
      Naše načrte za prihodnje posodobitve najdete na strani <i class='fa fa-paper-plane-o'></i> <%= link_to "ROADMAP (kliknite tukaj)", roadmap_path %>. Veseli bomo, če boste dodali vaše ideje in predloge za izboljšave.<br><br>
      Vas zanima sodelovanje? <br><br>
      <i class="'fa fa-file-o'></i> <%= link_to "Za pričetek je potrebno potrditi DOGOVOR O SODELOVANJU", terms_of_use_path %>.
    </div>
    <div class="wallet_payment_offer_instructions">
      MOJ SOSED d.o.o. 2015
    </div> <br><br>
    <div class="wallet_payment_offer_instructions">
      POVEZAVE:<br><br>
      <i class="fa fa-file-o"></i> <%= link_to "DOGOVOR O SODELOVANJU", terms_of_use_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "PROMO STRAN - s promocijskim materialom", promo_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "FAQ", faq_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "GENERIRANJE AFILIACIJSKE KODE", profile_path %><br><br>
    </div> <br><br>
    </div>
</div>



