<html>
<head>
  <title></title>
</head>
<body class="body_profile">
  <div class="columns">
  <ul class="wookmark">
    <% if user_signed_in? %>
  <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.logged-in-as' %>: 
    </div>
      <div class="profile_dashboard_body"> 
        <div class="profile_dashboard_body_username">  
          <%= current_user.email %> 
        </div>
        <div class="profile_dashboard_body_logout">
          <%= link_to "#{I18n.t'staticpagesprofile-links.logout'}", destroy_user_session_path, method: :delete %> </div>
        <div class="profile_dashboard_body_edit">
         <%= link_to "#{I18n.t'staticpagesprofile-links.edit-profile'}", edit_user_registration_path %>
        </div>
      </div>
  </div>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.wallet' %>:
    </div>
    <div class="profile_dashboard_body">
      <div class="profile_dashboard_body_wallet_amount">
        <%= current_user.wallet %> € 
      </div>
      <div class="profile_dashboard_body_wallet_buttons">
        <div class="profile_dashboard_body_wallet_button">
          <%= link_to "#{I18n.t'staticpagesprofile-notification.wallet-buttons.bank'}", wallet_payment_url %> 
        </div>
        <div class="profile_dashboard_body_wallet_button">
             <%= link_to "#{I18n.t'staticpagesprofile-notification.wallet-buttons.paypal'}", 
              paypal_notifications_url %>
        </div>
      </div>
    </div>
  </div>

  <% if Order.all.where(selector_id: current_user.id, paid: true).present? %>
  <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.bought-leads' %>:
    </div>
    <div class="profile_dashboard_body"> 
      <div class="profile_dashboard_body_bought_leads_amount">  
        <%= Order.all.where(selector_id: current_user.id, paid: true).count %>
      </div> 
    </div>
  </div>
  
<div class="lead_box">
  <div class ="profile_dashboard_title">
     <%= I18n.t'staticpagesprofile-notification.last-bought-lead' %>:
  </div>
  <div class="profile_dashboard_body"> 
    <div class="profile_dashboard_body_bought_leads_last">  
      <%= Order.all.where(selector_id: current_user.id, paid: true).last.selected.business_type %> (<%= Order.all.where(selector_id: current_user.id, paid: true).last.selected.location %>) 
    </div> 
  </div>
</div>
<% else %>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.bought-leads' %>:
    </div>
    <div class="profile_dashboard_body"> 
      <div class="profile_dashboard_body_no_bought_leads">  
        <%= I18n.t'staticpagesprofile-notification.no-bought-leads' %>
      </div> 
    </div>
  </div>
  
<div class="lead_box">
  <div class ="profile_dashboard_title">
     <%= I18n.t'staticpagesprofile-notification.last-bought-lead' %>:
  </div>
  <div class="profile_dashboard_body"> 
    <div class="profile_dashboard_body_no_bought_leads">  
     <%= I18n.t'staticpagesprofile-notification.no-bought-leads' %>
    </div> 
  </div>
</div>
<% end %>
    <% else %>
    <div class="lead_box">
          <div class ="profile_dashboard_title">
            <%= I18n.t'staticpagesprofile-links.logged-as' %>:
          </div>
          <div class="profile_dashboard_body"> 
            <div class="profile_dashboard_title_login_or_signup">
              <div class="profile_dashboard_body_signup">
                <%= link_to "Sign up", new_user_registration_path %>
              </div> 
              <div class="profile_dashboard_body_login">
                <%= link_to "Login", new_user_session_path %>
              </div>
            </div>
          </div>
        </div>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.wallet' %>:
    </div>
    <div class="profile_dashboard_body">
      <div class="profile_dashboard_body_not_signed_in">
         <%= I18n.t'staticpagesprofile-notification.you-need-to-sign-in' %>
      </div>
    </div>
  </div>

  <div class="lead_box">
    <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.bought-leads' %>:
    </div>
    <div class="profile_dashboard_body"> 
      <div class="profile_dashboard_body_no_bought_leads"> 
        <%= I18n.t'staticpagesprofile-notification.you-need-to-sign-in' %>
      </div> 
    </div>
  </div>
  
<div class="lead_box">
  <div class ="profile_dashboard_title">
     <%= I18n.t'staticpagesprofile-notification.last-bought-lead' %>:
  </div>
  <div class="profile_dashboard_body"> 
    <div class="profile_dashboard_body_no_bought_leads">  
     <%= I18n.t'staticpagesprofile-notification.you-need-to-sign-in' %>
    </div> 
  </div>
</div>
<% end %>
</ul>
</div>

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
  
  <!-- JAVASCRIPT - WOOKMARK - columns -->

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<script src="/assets/wookmark/jquery/dist/jquery.min.js"></script>

  <!-- Include the plug-in -->
  <script src="/assets/wookmark/wookmark-jquery/jquery.wookmark.js"></script>

  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    (function ($){
      var handler = $('.lead_box');

      handler.wookmark({
          // Prepare layout options.
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('.columns'), // Optional, used for some extra CSS styling
          offset: 15, // Optional, the distance between grid items
          outerOffset: 10, // Optional, the distance to the containers border
          itemWidth: 400 // Optional, the width of a grid item
      });

      // Capture clicks on grid items.
      // handler.click(function(){
      //   // Randomize the height of the clicked item.
      //   var newHeight = $('img', this).height() + Math.round(Math.random() * 300 + 30);
      //   $(this).css('height', newHeight+'px');

      //   // Update the layout.
      //   handler.wookmark();
      // });
    })(jQuery);
  </script>

  <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                          <!-- END OF WOOKMARK JAVASCRIPT -->

  <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
</body>
</html>