<% if user_signed_in? %>
    <div class="logged_in">
      Logged in as 
        <div class="logged_user"> 
          <%= current_user.email %> 
        </div>
        <div class="logout">
              <%= link_to "#{I18n.t'staticpagesprofile-links.logout'}", destroy_user_session_path, method: :delete %>
        </div>
        <div class="wallet">
          <div class="wallet_text">
            <%= I18n.t'staticpagesprofile-notification.wallet' %>:
          </div> 
          <div class="wallet_amount">
            <%= current_user.wallet %> € 
          </div>
        </div>
    </div>
  <% else %>
    Signup or Login
    <div class="login_or_signup">
      <div class="signup">
        <%= link_to "Sign up", 
        new_user_registration_path %>
      </div> |
      <div class="login">
        <%= link_to "Login", 
        new_user_session_path %>
      </div>
    </div>
  <% end %>
