<div class="body_profile">
  <div class="columns">
  <ul class="wookmark">

<!-- ########################## USER SIGNED IN ######################### -->
  <% if user_signed_in? %>
  
    <div class="lead_box">
      <div class ="profile_dashboard_title">
        <%= I18n.t'staticpagesprofile-notification.logged-in-as' %>: 
      </div>
      <div class="profile_dashboard_body"> 
        <div class="profile_dashboard_body_username">  
          <%= current_user.email %> 
        </div>
        <div class="profile_dashboard_body_logout">
          <%= link_to "#{I18n.t'staticpagesprofile-links.logout'}", destroy_user_session_path, method: :get %> 
        </div>
        <div class="profile_dashboard_body_edit">
          <%= link_to "#{I18n.t'staticpagesprofile-links.edit-profile'}", edit_user_registration_path %>
        </div><br><br>
      </div>
    </div>

<!-- #################### USER SIGNED IN && NOT TECHNICIAN OR AFFILATOR YET ################### -->    
    <% if current_user.accepted_terms_of_use != true && current_user.affiliation_agreement != true %>  
      <div class="lead_box">
        <div class ="profile_dashboard_title">
          SERVISERJI
        </div>
        <div class="profile_dashboard_body"> 
          <div class="profile_dashboard_body_username">  
            Dogovor o sodelovanju za računalniške strokovnjake
          </div>
          <div class="profile_dashboard_body_wallet_buttons">
            <% if current_user.accepted_terms_of_use == true %>
              <div class="profile_dashboard_body_not_signed_in"> 
                <%= link_to "Dogovor o sodelovanju je ", terms_of_use_path %> POTRJEN 
              </div>
          <% else %>
            <div class="profile_dashboard_body_wallet_buttons">
              <div class="profile_dashboard_body_wallet_button">
                <%= link_to "Potrdite dogovor o sodelovanju", terms_of_use_path %> 
              </div> 
            </div>
          <% end %> 
          </div>
        </div>
      </div>

      <div class="lead_box">
        <div class ="profile_dashboard_title">
          AFILIACIJA
        </div>
        <div class="profile_dashboard_body"> 
          <div class="profile_dashboard_body_username">  
            Dogovor o afiliaciji za poslovne partnerje
          </div>
          <div class="profile_dashboard_body_wallet_buttons">
            <% if current_user.affiliation_agreement == true %>
              <div class="profile_dashboard_body_not_signed_in"> 
                <%= link_to "Dogovor o afiliaciji je", affiliation_agreement_path %> POTRJEN
              </div>
              <div class="profile_dashboard_body_wallet_buttons">
                <div class="profile_dashboard_body_wallet_button">
                  <%= link_to "Naročite servis", leads_new_path %>
                </div> 
              </div>
          <% else %>
            <div class="profile_dashboard_body_wallet_buttons">
              <div class="profile_dashboard_body_wallet_button">
                <%= link_to "Potrdite dogovor o afiliaciji", affiliation_agreement_path  %> 
              </div> 
            </div>
          <% end %> 
          </div>
        </div>
      </div>
 
<!-- ########################## USER SIGNED IN && TECHNICIAN ######################### -->
    <% elsif current_user.accepted_terms_of_use == true %>
      
      <div class="lead_box">
        <div class ="profile_dashboard_title">
          SERVISERJI
        </div>
        <div class="profile_dashboard_body"> 
          <div class="profile_dashboard_body_wallet_buttons">
            <% if current_user.accepted_terms_of_use == true %>
              <div class="profile_dashboard_body_not_signed_in"> 
                <%= link_to "Dogovor o sodelovanju:", terms_of_use_path %> Potrjen 
              </div>
          <% else %>
            <div class="profile_dashboard_body_wallet_buttons">
              <div class="profile_dashboard_body_wallet_button">
                <%= link_to "Potrdite dogovor o sodelovanju.", terms_of_use_path %> 
              </div> 
            </div>
          <% end %> 
          </div>
        </div>
      </div>

      <div class="lead_box">
      <div class ="profile_dashboard_title">
        Promocijski material:
      </div>
      <div class="profile_dashboard_body"> 
        <div class="profile_dashboard_body_not_signed_in"> 
          Pomagajte tudi vi pridobiti nova naročila. Distribuirajte promocijski material v vaši okolici. 
        </div>
        <div class="profile_dashboard_body_wallet_buttons">
          <div class="profile_dashboard_body_wallet_button">
            <%= link_to "Pomocijski material", promo_path %>
          </div> 
        </div> 
      </div>
    </div>

    <div class="lead_box">
      <div class ="profile_dashboard_title">
        Sosed sosedu:
      </div>
      <div class="profile_dashboard_body"> 
        <div class="profile_dashboard_body_not_signed_in"> 
          Deli kontakt stranke, ki je ne utegneš servisirati in si zasluži provizijo.
        </div>
        <div class="profile_dashboard_body_wallet_buttons">
          <div class="profile_dashboard_body_wallet_button">
            <%= link_to "Oddaj storitev", delim_path(id: @user_tracking_id) %>
          </div> 
        </div> 
      </div>
    </div>

      <% if Order.all.where(selector_id: current_user.id, paid: true).present? %>
        <div class="lead_box">
          <div class ="profile_dashboard_title">
             Število potrjenih servisov:
          </div>
          <div class="profile_dashboard_body"> 
            <div class="profile_dashboard_body_bought_leads_amount">  
              <%= Order.all.where(selector_id: current_user.id, paid: true).count %>
            </div> 
          </div>
        </div>        
        <div class="lead_box">
          <div class ="profile_dashboard_title">
             Zadnji potrjen servis:
          </div>
          <div class="profile_dashboard_body"> 
            <div class="profile_dashboard_body_bought_leads_last">  
              <%= Order.all.where(selector_id: current_user.id, paid: true).last.selected.business_type %> (<%= Order.all.where(selector_id: current_user.id, paid: true).last.selected.location %>) 
            </div> 
          </div>
        </div>
        <% else %>
          <div class="lead_box">
            <div class ="profile_dashboard_title">
              Število potrjenih servisov:
            </div>
            <div class="profile_dashboard_body"> 
              <div class="profile_dashboard_body_no_bought_leads">  
                <%= I18n.t'staticpagesprofile-notification.no-bought-leads' %>
              </div> 
            </div>
          </div>    
          <div class="lead_box">
            <div class ="profile_dashboard_title">
              Zadnji potrjen servis:
            </div>
            <div class="profile_dashboard_body"> 
              <div class="profile_dashboard_body_no_bought_leads">  
               <%= I18n.t'staticpagesprofile-notification.no-bought-leads' %>
              </div> 
            </div>
          </div>
      <% end %>

<!-- ########################## USER SIGNED IN && AFFILIATOR ######################### -->
    <% elsif current_user.affiliation_agreement == true %>
      <div class="lead_box">
        <div class ="profile_dashboard_title">
          AFILIACIJA
        </div>
        <div class="profile_dashboard_body"> 
          <div class="profile_dashboard_body_wallet_buttons">
            <% if current_user.affiliation_agreement == true %>
              <div class="profile_dashboard_body_not_signed_in"> 
                <%= link_to "Dogovor o afiliaciji:", affiliation_agreement_path %> Potrjen
              </div>
              <div class="profile_dashboard_body_wallet_buttons">
                <div class="profile_dashboard_body_wallet_button">
                  <%= link_to "Naročite servis", leads_new_path %>
                </div> 
              </div>
          <% else %>
            <div class="profile_dashboard_body_wallet_buttons">
              <div class="profile_dashboard_body_wallet_button">
                <%= link_to "Potrdite dogovor o sodelovanju.", affiliation_agreement_path  %> 
              </div> 
            </div>
          <% end %> 
          </div>
        </div>
      </div>
      <div class="lead_box">
        <div class ="profile_dashboard_title">
          AFILIACIJA
        </div>
        <div class="profile_dashboard_body">
          <% if @user_tracking_id == nil %>
            <%= form_for (@user), url: tracking_id_user_path(@user), method: :post do |u| %>
                <%= u.label :"Vpišite ime podjetja"  %>
                <%= u.text_field :name %>
                <%= u.submit "Generirajte kodo" %>
            <% end %> 
          <% else %>
            <div class="profile_dashboard_body_wallet_buttons">
              <div class="profile_dashboard_body_username">  
                Vaša afiliacijska koda, ki jo vnesete v obrazec za naročilo storitve
               </div>
              <div class="profile_dashboard_body_wallet_button">
                <%= @user_tracking_id %>
              </div> 
            </div><br><br><br>
            <%= form_for (@user), url: tracking_id_user_path(@user), method: :post do |u| %>
              <%= u.label :"Vnesite besedo"  %>
              <%= u.text_field :name %>
              <%= u.submit "Spremenite kodo" %>
            <% end %> 
          <% end %>
        </div>
      </div>
      <div class="lead_box">
        <div class ="profile_dashboard_title">
          Število naročil, prispelih preko vaše afiliacijske kode:
        </div>
        <div class="profile_dashboard_body">
          <div class="profile_dashboard_body_wallet_amount">
            <%= @all_affiliation_customer_for_certain_user%>
          </div>
        </div>
      </div>
    <% end %>

<!-- ########################## USER NOT SIGNED IN  ######################### -->
  <% else %>
  <div class="lead_box">
    <div class ="profile_dashboard_title">
      <%= I18n.t'staticpagesprofile-notification.not-logged-in' %>:
    </div>
    <div class="profile_dashboard_body"> 
      <div class="profile_dashboard_title_login_or_signup">
        <div class="profile_dashboard_body_signup">
          <%= link_to "#{I18n.t'staticpagesprofile-links.sign-up'}", new_user_registration_path %>
        </div> 
        <div class="profile_dashboard_body_login">
          <%= link_to "#{I18n.t'staticpagesprofile-links.sign-in'}", new_user_session_path %>
        </div>
      </div>
    </div>
  </div>



<% end %>

  </ul>
  </div>
</div>