<% if user_signed_in? %>
    <div class="logged_in">
      Logged in as 
        <div class="logged_user"> 
          <%= current_user.email %> 
        </div>
        <strong><%= I18n.t'staticpagesprofile-notification.wallet' %>: <%= current_user.wallet %> € </strong> <br>

    <%= link_to "#{I18n.t'staticpagesprofile-links.logout'}", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    Signup or Login
    <div class="sign_up">
      <%= link_to "Sign up", 
      new_user_registration_path %>
    </div> |
    <div class="login">
      <%= link_to "Login", 
      new_user_session_path %>
    </div>
  <% end %>
