<div class="body_wallet_payment">
<div class="wallet_payment_offer">
  <div class="wallet_payment_offer_title">
    Dogovor o sodelovanju
  </div>
  <div class="wallet_payment_offer_promotion">
    I. Posrednik in izvajalec<br><br>

    1. LeadShareApp.com <br>
    Moj sosed d.o.o., <br>
    Radehova 39, 2230 Lenart v Slovenskih goricah, <br>
    davčna številka 49595105 (posrednik).<br><br>
    <% if user_signed_in? %>
      2. izvajalec-serviser (<%= current_user.email %>)
    <% else %>
      2. izvajalec-serviser (VI)
    <% end %> 
  </div>

  <div class="wallet_payment_offer_promotion">
    II. Predmet dogovora o poslovnem sodelovanju<br><br>
    Predmet dogovora je posredovanje kontaktnih podatkov zainteresiranih strank, 
    obveznosti posrednika in izvajalca, plačilni pogoji in čas trajanja sodelovanja. 
    Predmet dogovora je  tudi obveznost izvajalca, da strokovno, kvalitetno z zagotovljeno garancijo  izvede dogovorjeno storitev in na račun posrednika nakaže  delež od zaračunane storitve. Storitve se izvajajo v vaši okolici, po želji ali posebnem dogovoru pa tudi po ostalih delih Slovenije.<br>
    Dogovor o sodelovanju je sklenjen za nedoločeno obdobje in prične veljati s sprejemom Pogojev sodelovanja (spodaj). <br>
    Posrednik in izvajalec lahko sodelovanje odpovesta kadarkoli, pred tem pa morata 
    oba pogodbenika poravnati vse medsebojne finančne obveznosti. <br>
    MOJ SOSED d.o.o. si pridružuje pravico, da poslovno sodelovanje z izvajalcem,  prekine 
    takoj, če ugotovi hujše kršitve tega dogovora in poslovnega dogovora s stranko, oziroma se 
    kljub opozorilu ne odpravijo večkratne lažje kršitve. <br>
  </div>

  <div class="wallet_payment_offer_instructions">
    III. Obveznosti posrednika:    
  </div> 
  <table class="wallet_payment_offer_sosed_info">
    <tr class="wallet_payment_offer_sosed_info_price">
      <td> </td>
      <td>S podpisom dogovora se MOJ SOSED d.o.o. – posrednik zavezuje k naslednjemu:</td>
    </tr>  
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>1.</td>
      <td>da izvajalce preko LeadShareApp.com tekoče obvešča o konkretnih naročnikih posameznih dogovorjenih storitev,
      </td>
    </tr>
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>2.</td>
      <td>da se z zainteresirano stranko za posamezno storitev (kadar je to mogoče) dogovori za čas in kraj obiska izvajalca,</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>3.</td>
      <td>da bodo kontaktni podatki o stranki, dnevu predvidenega obiska, željah in pričakovanjih stranke posredovani izvajalcu čim prej preko LeadShareApp.com,</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>4.</td>
      <td>da preverja zadovoljstvo strank in ob morebitnih reklamacijah in drugih nezadovoljstvih, obvešča izvajalca ter predlaga odpravo pomanjkljivosti,</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>5.</td>
      <td>da izvajalcu takoj po  prejemu informacije o končanih delih pošlje račun za posredovane kontaktne podatke strank (po ceniku iz točke V. tega dogovora),</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>6.</td>
      <td>da si v kontaktih s stranko maksimalno prizadeva k uspešnosti dogovora za izvedbo konkretne storitve,</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>7.</td>
      <td>da izvajalcu takoj po prejemu plačil drugih izvajalcev mesečno posreduje plačilo afiliacije (90% od Sosedove provizije za vse storitve, ki so prišle preko izvajalčeve afiliacijske kode ali afiliacijske povezave po plačilu stroškov)<br> <br>
        <i class="fa fa-file-o"></i> <%= link_to "Za podrobnosti glede stroškov, afiliacije in plačil kliknite tukaj!", price_list_path %></td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>8.</td>
      <td>da skrbi, da se z osebnimi podatki strank ravna v skladu z določili Zakona o varstvu osebnih podatkov.</td>
    </tr> 
  </table><br>

  <div class="wallet_payment_offer_instructions">
    IV. Obveznosti izvajalca:   
  </div> 
  <table class="wallet_payment_offer_sosed_info">
    <tr class="wallet_payment_offer_sosed_info_price">
      <td> </td>
      <td>S strinjanjem z Dogovorom o sodelovanju se izvajalec obvezuje:</td>
    </tr>  
    <tr class="wallet_payment_offer_sosed_info_item"> 
      <td>1.</td>
      <td>da bo na LeadShareApp.com potrdil samo naročila, ki jih bo lahko sam strokovno opravil,
      </td>
    </tr>
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>2.</td>
      <td>da bo ob dogovorjenem terminu obiskal stranko in izvedel storitev,</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>3.</td>
      <td>da bo v primeru zamude (izjemoma) pravočasno telefonično obvestil stranko in se opravičil ter dogovoril za drug termin obiska. O novem dogovorjenem terminu obiska stranke mora to vnesti v aplikacijo, </td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>4.</td>
      <td>da bo dogovorjene storitve opravil strokovno in kvalitetno, za svoje delo nosil odgovornost in strankam zagotavljal garancijo za opravljeno storitev (tj. reševal morebitne reklamacije),</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>5.</td>
      <td>da bo storitev zaračunaval v skladu s cenikom storitev, ki se nahaja na Sosed.si/cenik in strankam za opravljene storitve izdal račun svojega podjetja,</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>6.</td>
      <td>da bo po končani opravljeni storitvi v ustrezno evidenco na Imeniku strank pod rubriko Poročilo servisa opisal opravljeno delo, zaračunan znesek ter druge podrobnosti in dogovore s stranko (npr. optimizacija računalnika, izobraževanje 1 uro….),</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>7.</td>
      <td>da bo sproti pošiljal na naslov info@sosed.si, kopijo izdanih računov strankam (scan),</td>
    </tr> 
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>8.</td>
      <td>da bo po prejetem računu za plačilo provizije na TRR račun podjetja MOJ SOSED d.o.o. številka SI56 0410 2000 2065 311, odprti pri NKB Maribor, izvedel plačilo v dogovorjenem roku,</td>
    </tr>
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>9.</td>
      <td>da bo vsa naročila strank, ki jih je našel preko aplikacije, vnesel v aplikacijo - potem pa te storitve potrdil sam ali prepustil drugim serviserjem (razen če gre za reklmacijo, v tem primeru bo vedno sam ponovno brezplačno obiskal stranko ali na težavo odpravil na daljavo),</td>
    </tr>
    <tr class="wallet_payment_offer_sosed_info_item">
      <td>10.</td>
      <td>da bo z osebnimi podatki strank dosledno ravnal v skladu z določili Zakona o varstvu osebnih podatkov in da bo podatke strank uporabljal samo za izvajanje tega sporazuma.</td>
    </tr>  
  </table>
    <div class="wallet_payment_offer_promotion">
      V. Cenik posredovanja kontaktnih podatkov naročnikov storitev preko LeadShareApp aplikacije<br><br>
      Izvajalec se obvezuje, da bo tedensko (najkasneje v nedeljo do polnoči) na naslov info@sosed.si  posredoval skenirane izdanih račune za pretekli teden, ki bodo izdani na podlagi naročil na aplikaciji LeadShareApp.com. Na podlagi teh dokumentov bo podjetje MOJ SOSED d.o.o. zapiralo posamezne storitve in izvajalcu izstavilo zbirni tedenski račun za posredovanje kontaktnih podatkov strank, ki znaša 30% od posamezne zaračunane storitve.<br><br>
      <i class="fa fa-file-o"></i> <%= link_to "Za podrobnosti glede stroškov, afiliacije in plačil kliknite tukaj!", price_list_path %>
    </div>
    <div class="wallet_payment_offer_promotion">
      VI. Afiliacija <br><br>
      Od vsakega izvajalca se pričakuje, da bo skrbel tudi za promocijo Sosed storitev. Na strani <%= link_to "PROMO", promo_path %> lahko izbere promocijska obvestila, jih natisne in pripiše svojo afiliacijsko kodo (kodo generira na strani <%= link_to "PROFIL", profile_path %>). Nato obvestila distribuira na oglasne deske v stanovanjskih blokih ali na druge oglasne deske.<br><br>
      Za vsako stranko, ki bo servis naročila preko afiliacijske kode oz. afiliacijske povezave izvajalca, bo podjetje Moj sosed d.o.o. ob prejemu plačil provizije s strani drugih izvajalcev nato afiliatorju mesečno plačalo odstotek za afiliacijo. <br><br>
      <i class="fa fa-file-o"></i> <%= link_to "Za podrobnosti glede stroškov, afiliacije in plačil kliknite tukaj!", price_list_path %>
    </div>
    <div class="wallet_payment_offer_promotion">
      VII. Dogovor o poslovnem sodelovanju <br><br>
      Posrednik in izvajalec se strinjata o vsebini dogovora o poslovnem sodelovanju. Vse spremembe bosta sprejemala soglasno. Vse morebitne nesoglasja bosta partnerja reševala sporazumno. V kolikor to ne bo možno, bosta nesoglasja odstopila pristojnemu okrajnemu sodišču v Lenartu v Slovenskih goricah. 
    </div>
    <% if user_signed_in? %>
     <%= form_for (@user), url: accepted_terms_of_use_user_path(@user), method: :post do |u| %>
        <%= u.check_box :accepted_terms_of_use %>
        <%= u.label :"Potrjujem Dogovor o sodelovanju in se zavezujem k upoštevanju njegovih določil."  %><br><br>
        <%= u.submit "Potrdite" %>
      <% end %> <br><br>
    <div class="wallet_payment_offer_instructions">
      MOJ SOSED d.o.o. 2015
    </div> <br><br>
    <div class="wallet_payment_offer_instructions">
      POVEZAVE:<br><br>
      <i class="fa fa-file-o"></i> <%= link_to "PROVIZIJA", price_list_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "PROMO STRAN - s promocijskim materialom", promo_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "FAQ", faq_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "GENERIRANJE AFILIACIJSKE KODE", profile_path %><br><br>
    </div> <br><br>
    <% else %>
      <div class="wallet_payment_offer_instructions">
        Sprejem Dogovora o sodelovanju je pogoj za pričetek sodelovanja.
        Za nadaljevanje je potrebna
        <%= link_to "REGISTRACIJA", new_user_registration_path %> oz.
        <%= link_to "PRIJAVA", new_user_session_path %>
        v aplikacijo.
        
      </div>
      <div class="wallet_payment_offer_instructions">
      MOJ SOSED d.o.o. 2015
    </div>
    <div class="wallet_payment_offer_instructions">
      POVEZAVE:<br><br>
      <i class="fa fa-file-o"></i> <%= link_to "PROVIZIJA", price_list_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "PROMO STRAN - s promocijskim materialom", promo_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "FAQ", faq_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "GENERIRANJE AFILIACIJSKE KODE", profile_path %><br><br>
    </div> <br><br>
    <% end %>
    </div>
</div>



