<div class="body_welcome">
  <div class="leads_index_no_leads_available">
    <div class="welcome_title">
    <%= t('.title') %>
  </div>
    <%= t('.description') %>
    <ul class=buttons>
      <li class="welcome_button_first">
        <%= link_to t('.work'), leads_path %>
      </li>
      <li class="welcome_button_second">
        <%= link_to t('.hire'), new_lead_path %>
      </li>
    </ul>
    <br>
    <br>
    <%= t('.pathway') %>
    <br>
    <%= link_to t('.read_more'), "https://www.patreon.com/user?u=4718617", :target => "_blank" %>
    <br>
  </div>
    <!-- <i class="fa fa-users"> <%= t('.step1') %></i>
    &nbsp &nbsp <i class="fa fa-heart-o"> <%= t('.step2') %> </i>
    &nbsp &nbsp <i class="fa fa-comments-o"> <%= t('.step3') %> </i>
    <br>
    <br> -->
</div>
