<div class="body_welcome">
  <div class="leads_index_no_leads_available">
    <br>
    <%= t('.title') %>
    <%= link_to t('.read_more'), info_path %>
    <br>
    <br>
    <%= t('.description') %>
    <br>
    <br>
    <div class="leads_index_no_leads_available_button_third">
      <%= link_to t('.book'), new_lead_path %>
    </div>
    <br>
    <br>
    <br>
    <i class="fa fa-users"> <%= t('.step1') %></i>
    &nbsp &nbsp <i class="fa fa-heart-o"> <%= t('.step2') %> </i>
    &nbsp &nbsp <i class="fa fa-comments-o"> <%= t('.step3') %> </i>
    <br>
    <br>
  </div>
</div>
