<div class="body_welcome">
  <div class="leads_index_no_leads_available">
    <%= t('.title') %>
    <br>
    <br>
    <%= t('.description') %> <%= link_to t('.read_more'), info_path %>
    <br>
    <br>
    <br>
    <div class="leads_index_no_leads_available_button_third">
      <%= link_to t('.browse_offers'), leads_path %>
    </div>
    <br>
    <br>
    <br>
    <i class="fa fa-key"> <%= t('.freelancing') %></i>
    &nbsp &nbsp <i class="fa fa-cubes"> <%= t('.start_business') %> </i>
    &nbsp &nbsp <i class="fa fa-pencil"> <%= t('.b2b') %> </i>
    &nbsp &nbsp <i class="fa fa-users"> <%= t('.cofounding') %> </i>
    &nbsp &nbsp <i class="fa fa-comments-o"> <%= t('.collaboration') %> </i>
    &nbsp &nbsp <i class="fa fa-heart-o"> <%= t('.volunteering') %> </i>
    &nbsp &nbsp <i class="fa fa-book"> <%= t('.learning') %> </i>

    <br>
    <br>
    <br>
  </div>
</div>
