<div class="body_devise_users_edit">
  <div class="user_edit">
<div class="user_edit_title">
  Update your skills
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="user_edit_form_email"><%= f.label :"What are your skills?" %><br />
  <%= f.text_field :business_type %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="user_edit_form_submit"><%= f.submit "#{I18n.t'users-edit.update-button'}" %></div>
<% end %>

<div class="user_edit_cancel_acount"><%= link_to "#{I18n.t'staticpagesprofile-links.logout'}", destroy_user_session_path, method: :get %></div>


</div>
