<div class="body_devise_signup">
  <div class="signup">
<div class="signup_title">
  Join RefugeeWork community.
  <br>
  <br>
  We grow through the things we make.
  Join the community and tell what you need or can help with!
  <br>
  <br>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="signup_form_email"><%= f.label :"#{I18n.t'users-signup.email'}" %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div class="signup_form_password"><%= f.label :"#{I18n.t'users-signup.password'}" %> <% if @validatable %><i>(<%= @minimum_password_length %> <%= I18n.t'users-signup.minimal-char' %>)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div class="signup_form_password_confirmation"><%= f.label :"#{I18n.t'users-signup.password-confirmation'}" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div class="signup_form_submit"><%= f.submit "#{I18n.t'users-signup.signup'}" %></div>
<% end %>
<div class="signup_shared_links">
  <%= render "devise/shared/links" %>
</div>
</div>


</div>
