<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Uspešno ste ustvarili Afiliacijsko kodo.</h1>
    <p>
      Sedaj lahko pričnemo!
    </p>
    <p>
      Sedaj lahko na strani <%= link_to "Promocijski material", promo_url %> izberite enega izmed obvestil in ga natisnite. Vaša afiliacijska koda [ <%= @user_tracking_id %> ] je avtomatično dodana pod telefonske številke na obvestilih. <br><br>
      Obvestila je najboljše distribuirati v stanovanjske bloke ali na vidne oglasne deske v knjižnicah, zdravstvenih domovih in drugih javnih prostorih.<br><br>
      Promocijo pa lahko izvajate tudi na spletu, kjer lahko delite svoj afiliacijski link [www.leadshareapp.com<%= @user_tracking_link %>]. Za vsa naročila, ki jih bomo prejeli prejeli, vam pripada tudi provizija. Več o tem pa <%= link_to "tukaj", price_list_url %><br>
    </p>
    <p>
      Kot že rečeno, je namen, da s skupnimi močmi gradimo mrežo samozaposlenih serviserjev. Blagovna znamka Sosed vam pri tem nudi podporo v obliki aplikacije, telefonskega centra z brezplačno 080 številko, kjer smo dosegljivi 365 dni na leto med 8h in 20h ter druge marketinške aktivnosti.


      Ker smo v fazi alfa testiranja, vas lepo prosimo za povratne informacije in dali bomo vse od sebe, da bomo prilagodili aplikacijo v smer, ki vam bo najbolj ustrezala.
    </p>
    <p>
      Lep dan še naprej.
    </p>
      <br>
    <p>Nina Breznik, <br>
      <%= root_url %><br>
      <%= mail_to "nina.breznik@sosed.si", "e: nina.breznik@sosed.si" %>
    </p>
  </body>
</html>