<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pozdravljeni, </h1>
    <p>
      uspešno ste prevzeli povpraševanje iz regije: <%= @lead.location %>.<br>
    </p>
    <p>
     Podatke o stranki najdete v Imeniku kontaktov. Po opravljenem servisu stranki izdajte račun, v prazno polje v Imeniku strank pa opišite servis in navedite zaračunano storitev ter morebitne nadaljne dogovore s stranko. Na e-naslov info@sosed.si pa nam pošljite še skeniran račun, ki ste ga izdali stranki.
    </p>
    <p>
      Veliko uspeha in ne pozabite - stranko poskusite vnaprej seznaniti s ceno in vedno, ko ugotovite možnosti za izboljšave, stranki predlagajte dodatno storitev.
      <br><br>Srečno!<br>
    </p>
    =================================================================
    <p>
      Termin: <%= @lead.time %><br>
      Opis: <%= @lead.description %><br><br>
      Podatki o servisu se nahajajo <%=link_to "v Imeniku kontaktov na LeadShareApp", address_book_url %>.
    </p>
      <br>
    <p>Nina Breznik, <br>
      Moj Sosed <br>
      <%= root_url %><br>
      <%=mail_to "nina.breznik@sosed.si", "e: nina.breznik@sosed.si" %>
    </p>
  </body>
</html>