<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pozdravljeni, </h1>

    <p>
      prejeli smo novo povpraševanje iz regije: <%= @lead.location %>.<br><br>

      Termin: <%= @lead.time %><br>
      Opis: <%= @lead.description %><br><br>

    </p>

    <p>
      To obvestilo je bilo poslano vsem Sosedovim agentom iz te regije. Če želite prevzeti servis, ga čimprej <%= link_to "potrdite na LeadShareApp", root_url %>. Če servis na aplikaciji ni viden, pomeni, da ga je nekdo prevzel pred vami. Čimprej kliknite in <%= link_to "poglejte servis", root_url %>, ali je servis še na voljo.
    </p>

    <p>Nina Breznik, <br>
      Moj Sosed <br>
      <%= root_url %><br>
      <%= mail_to "nina.breznik@sosed.si", "e: nina.breznik@sosed.si" %>
    </p>
  </body>
</html>