<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pozdravljeni, </h1>

    <p>
      prejeli smo novo povpraševanje iz regije: <%= @lead.location %>.<br><br>

      Termin: <%= @lead.time %><br>
      Opis: <%= @lead.description %><br><br>

      <% if @lead.affiliation_id.present? %>
        Afiliacijska koda: <%= @lead.affiliation_id %><br><br>
      <% end %> 
    </p>

    <p>
      To obvestilo je bilo poslano vsem Sosedovim agentom iz te regije. Če želite prevzeti servis, ga čimprej <%= link_to "potrdite na LeadShareApp", root_url %>.<br><br>
    </p>

    <p>Nina Breznik, <br>
      <%= root_url %><br>
      <%= mail_to "nina.breznik@sosed.si", "e: nina.breznik@sosed.si" %>
    </p>
  </body>
</html>