<div class="password_new">
<div class="password_new_title">
  Forgot your password?
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="password_new_form_email">
    <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div class="password_new_form_submit"><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<div class="password_new_shared_links">
  <%= render "devise/shared/links" %>
</div>
</div>

