<div class="lead_new_form_time">
  <%= l.select :business_type, [
      ["Volunteering"],
      ["Freelancing"],
      ["Co-founding"],
      ["Organizing"],
      ["Research"],
      ["Learning"],
      ["Collaboration"]
    ], :prompt=>"What do you need or can help with?*"%>  <br>
</div>

<div class="lead_new_form_time">
  <%= l.label :"When?*" %><br>
  <%= l.text_field :time %> <br>
</div>

<div class="lead_new_form_zip">
  <%= l.select :address, [
      ["Germany - Baden-Württemberg"],
      ["Germany - Bavaria"],
      ["Germany - Berlin"],
      ["Germany - Brandenburg"],
      ["Germany - Bremen"],
      ["Germany - Hamburg"],
      ["Germany - Hesse"],
      ["Germany - Lower Saxony"],
      ["Germany - Mecklenburg-Vorpommern"],
      ["Germany - North Rhine-Westphalia"],
      ["Germany - Rhineland-Palatinate"],
      ["Germany - Saarland"],
      ["Germany - Saxony"],
      ["Germany - Saxony-Anhalt"],
      ["Germany - Schleswig-Holstein"],
      ["Germany - Thuringia"],
      ["Austria"],
      ["Slovenia"],
      ["Croatia"],
      ["Hungary"],
      ["Serbia"],
      ["Greece"],
      ["Turkey"],
      ["Egypt"],
      ["Jordan"],
      ["Lebanon"],
      ["Other"]
    ], :prompt=>"Where?*"%>  <br>
</div>

<div class="lead_new_form_description">
  <%= l.label :"#{I18n.t'lead-new.form.description'}*" %><br>
  <%= l.text_field :description %>
</div>
