<div class="lead_body">
  <div class="lead_title">
      <%= link_to lead.business_type, lead_path(lead) %>
  </div>
  <br>
  <% if lead.address.present? %>
    <div class="lead_subtitle">Location:</div>
      <%= lead.address %>        <br><br>
  <% end %>

  <% if lead.description.present? %>
    <div class="lead_subtitle">Description:</div>
      <%= lead.description %><br>
  <% end %>
  <% if lead.time.present? %>
    <div class="lead_subtitle">When:</div>
      <%= lead.time %>       <br>
  <% end %>
  <% if lead.name.present? %>
    <div class="lead_subtitle">Offered by:</div>
      <%= lead.name %>       <br>
  <% end %>
  <br>
  <div class="lead_subtitle"></div>
    Published at: <%= lead.created_at.strftime("%d.%m.%y ob %H:%M") %>       <br>
</div>
