<div class="lead_body">
  <div class="lead_title">
    <% if lead.business_type.present? %>
      <%= lead.business_type %>
    <% else %>
      <%= link_to "New offer", lead_path(lead) %>
    <% end %>
  </div>
  <br>
  <% if lead.address.present? %>
    <div class="lead_subtitle">Location:</div>
      <%= lead.address %>        <br><br>
  <% end %>

  <% if lead.description.present? %>
    <div class="lead_subtitle">Description:</div>
      <%= lead.description %><br>
  <% end %>
  <% if lead.time.present? %>
    <div class="lead_subtitle">When:</div>
      <%= lead.time %>       <br>
  <% end %>
  <% if lead.name.present? %>
    <div class="lead_subtitle">Offered by:</div>
      <%= lead.name %>       <br>
  <% end %>
  <br>
  <div class="lead_subtitle"></div>
    Published at: <%= lead.created_at.strftime("%d.%m.%y ob %H:%M") %>       <br>
</div>

<script type="text/javascript">
    var leadboxes = document.querySelectorAll('.lead_box');
    for(var i = 0; i < leadboxes.length; i++) {
      (function leadbox (ID) {
        leadboxes[ID].addEventListener('click', function onClick (event) {
          var leadpath =leadboxes[ID].querySelector('a').getAttribute('href');
          window.location.href = leadpath;
        });
      })(i);
    }
</script>
