<div class="lead_body">
  <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.location' %>:</div>     
    <%= lead.location %>   <br>
  <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.zip' %>:</div>          
    <%= lead.zip %>        <br>
  <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.time' %>:</div>         
    <%= lead.time %>       <br>
  <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.description' %>:</div>  
    <%= lead.description %><br>
  <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.name' %>:</div>        
    <%= lead.name %>       <br>
</div>