<div class="payment_buttons_choose_payment_text">
  <%= I18n.t'ordersshow-payment-buttons.choose-payment-text' %>:
</div>
<!--       
########################################
PayPal/Merchant Services/BuyNowButtons
########################################
--> 
<div class="order_show_buy_buttons">
<div class="order_show_buy">  
  <%= link_to "#{I18n.t'ordersshow-payment-buttons.paypal-checkout'}", 
              @order.paypal_url(order_path(@order), paypal_notifications_url) 
  %> 
</div> 


<!--       
########################################
BankPayment
########################################
--> 
<div class="order_show_buy"> 
  <%= link_to(
            "#{I18n.t'ordersshow-payment-buttons.bank-transfer'}",
            {
              :controller => 'orders', 
              :action => 'bank_transaction', 
              :id => @order.id
              },
            :html =>
            {
              :method => :get, 
              :remote => true
            }
           ) %> 
</div>

<!--       
########################################
Wallet
########################################
-->
<% if @lead.selectors.where(id: current_user.id).first.wallet >= 10 %>
  <div class="order_show_buy"> 
    <%= link_to(
  "#{I18n.t'ordersshow-payment-buttons.wallet'}",
  {
    :controller => 'orders', 
    :action => 'edit', 
    :id => @lead.reverse_orders.where(selector_id: current_user.id).first.id
    },
  :html =>
  {
    :method => :patch, 
    :remote => true
  }
  ) %> 
</div>
<% else %>
  <div class="order_show_buy"> 
  <%= link_to(
            "#{I18n.t'ordersshow-payment-buttons.wallet'}",
            {
              :controller => 'static_pages', 
              :action => 'wallet_payment', 
              :id => @order.id
              },
            :html =>
            {
              :method => :get, 
              :remote => true
            }
           ) %> 
</div>


<% end %>
</div>

<!--
########################################
2Checkout/Type: Intangible product
https://www.2checkout.com/documentation/checkout/inline-checkout#int_params
######################################## 
-->

<!--   <br> <form action='https://www.2checkout.com/checkout/purchase' method='post'>
    <input type='hidden' name='sid' value='202347509' />
    <input type='hidden' name='mode' value='2CO' />
    <input type='hidden' name='li_0_type' value='Blabla' />
    <input type='hidden' name='li_0_name' value='Kontakt' />
    <input type='hidden' name='li_0_price' value='12.73' />
    <input type='hidden' name='card_holder_name' value='Vpišite vaše ime' />
    <input type='hidden' name='street_address' value='Vaš naslov' />
    <input type='hidden' name='street_address2' value='/' />
    <input type='hidden' name='city' value='Kraj' />
    <input type='hidden' name='state' value='' />
    <input type='hidden' name='zip' value='Poštna številka' />
    <input type='hidden' name='country' value='Slovenia' />
    <input type='hidden' name='email' value='e-naslov@primer.si' />
    <input type='hidden' name='phone' value='Telefonska številka' />
    <div class="order_show_buy"> 
      <input name='submit' type='submit' value='Credit Card' />
    </div>
  </form> <br> -->