<div class="lead_new_form_name">
  <%= l.label :"#{I18n.t'lead-new.form.name'}"  %>
  <%= l.text_field :name %>
</div>
<div class="lead_new_form_phone">
  <%= l.label :"#{I18n.t'lead-new.form.phone'} (won't be published)*" %>
  <%= l.text_field :phone %>
</div>
<div class="lead_new_form_phone">
  <%= l.label :"Email (won't be published)*" %>
  <%= l.text_field :email %>
</div>
