<div class="lead_new_form_name">
  <%= l.label :"#{I18n.t'lead-new.form.name'}"  %>
  <%= l.text_field :name %>
</div>
<div class="lead_new_form_phone">
  <%= l.label :"Prefered contact (visible only to logged in users)*" %>
  <%= l.text_field :phone %>
</div>
<div class="lead_new_form_phone">
  <%= l.label :"Email (visible only to logged in users)*" %>
  <%= l.text_field :email %>
</div>
