<div class="lead_new_form_name">
  <%= l.label :"#{I18n.t'lead-new.form.name'}"  %>
  <%= l.text_field :name %>
</div>
<div class="lead_new_form_name">
  <%= l.label "Točen naslov" %>
  <%= l.text_field :address %>
</div>
<div class="lead_new_form_phone">
  <%= l.label :"#{I18n.t'lead-new.form.phone'}" %>
  <%= l.text_field :phone %>
</div>
<div class="lead_new_form_email">
  <%= l.label :"#{I18n.t'lead-new.form.email'}" %>
  <%= l.text_field :email %>
</div>
<div class="lead_new_form_name">
  <%= l.label "Če imate kodo za popust, jo vnesite tukaj:" %>
  <%= l.text_field :affiliation_id %>
</div>

