<div class="body_leads_index">

<div class="columns" id="main" role="main">
  <ol id="filters">
  <li data-filter="Germany - Baden-Württemberg">
    DE - Baden-Württemberg (<%= @addresses_count["Germany - Baden-Württemberg"] %>)
  </li>
  <li data-filter="Germany - Bavaria">
    DE - Bavaria (<%= @addresses_count["Germany - Bavaria"] %>)
  </li>
  <li data-filter="Germany - Berlin">
    DE - Berlin (<%= @addresses_count["Germany - Berlin"] %>)
  </li>
  <li data-filter="Germany - Brandenburg">
    DE - Brandenburg (<%= @addresses_count["Germany - Brandenburg"] %>)
  </li>
  <li data-filter="Germany - Bremen">
    DE - Bremen (<%= @addresses_count["Germany - Bremen"] %>)
  </li>
  <li data-filter="Germany - Hamburg">
    DE - Hamburg (<%= @addresses_count["Germany - Hamburg"] %>)
  </li>
  <li data-filter="Germany - Hesse">
    DE - Hesse (<%= @addresses_count["Germany - Hesse"] %>)
  </li>
  <li data-filter="Germany - Lower Saxony">
    DE - Lower Saxony (<%= @addresses_count["Germany - Lower Saxony"] %>)
  </li>
  <li data-filter="Germany - Mecklenburg-Vorpommern">
    DE - Mecklenburg-Vorpommern (<%= @addresses_count["Germany - Mecklenburg-Vorpommern"] %>)
  </li>
  <li data-filter="Germany - North Rhine-Westphalia">
    DE - North Rhine-Westphalia (<%= @addresses_count["Germany - North Rhine-Westphalia"] %>)
  </li>
  <li data-filter="Germany - Rhineland-Palatinate">
    DE - Rhineland-Palatinate (<%= @addresses_count["Germany - Rhineland-Palatinate"] %>)
  </li>
  <li data-filter="Germany - Saarland">
    DE - Saarland (<%= @addresses_count["Germany - Saarland"] %>)
  </li>
  <li data-filter="Germany - Saxony">
    DE - Saxony (<%= @addresses_count["Germany - Saxony"] %>)
  </li>
  <li data-filter="Germany - Saxony-Anhalt">
    DE - Saxony-Anhalt (<%= @addresses_count["Germany - Saxony-Anhalt"] %>)
  </li>
  <li data-filter="Germany - Schleswig-Holstein">
    DE - Schleswig-Holstein (<%= @addresses_count["Germany - Schleswig-Holstein"] %>)
  </li>
  <li data-filter="Germany - Thuringia">
    DE - Thuringia (<%= @addresses_count["Germany - Thuringia"] %>)
  </li>
  <li data-filter="Greece">
    Greece (<%= @addresses_count["Greece"] %>)
  </li>
  <li data-filter="Turkey">
    Turkey (<%= @addresses_count["Turkey"] %>)
  </li>
  <li data-filter="Egypt">
    Egypt (<%= @addresses_count["Egypt"] %>)
  </li>
  <li data-filter="Jordan">
    Jordan (<%= @addresses_count["Jordan"] %>)
  </li>
  <li data-filter="Lebanon">
    Lebanon (<%= @addresses_count["Lebanon"] %>)
  </li>
  <li data-filter="Sweden">
    Sweden (<%= @addresses_count["Sweden"] %>)
  </li>
  <li data-filter="Norway">
    Norway (<%= @addresses_count["Norway"] %>)
  </li>
  <li data-filter="Findland">
    Findland (<%= @addresses_count["Findland"] %>)
  </li>
  <li data-filter="Austria">
    Austria (<%= @addresses_count["Austria"] %>)
  </li>
  <li data-filter="Switzerland">
    Switzerland (<%= @addresses_count["Switzerland"] %>)
  </li>
  <li data-filter="France">
    France (<%= @addresses_count["France"] %>)
  </li>
  <li data-filter="United Kingdom">
    UK (<%= @addresses_count["United Kingdom"] %>)
  </li>
  <li data-filter="Other">
    Other (<%= @addresses_count["Other"] %>)
  </li>
</ol>
<ul id="tiles" class="wookmark">
    <% @sorted_leads.each do |lead| %>
      <div class="lead_box" data-filter-class='["<%= lead.address %>"]'>
        <div class="lead_body">
          <div class="lead_title">
              <%= link_to lead.business_type, lead_path(lead) %>
          </div>
          <br>
          <% if lead.address.present? %>
            <div class="lead_subtitle">Location:</div>
              <%= lead.address %>        <br><br>
          <% end %>

          <% if lead.description.present? %>
            <div class="lead_subtitle">Description:</div>
              <%= lead.description %><br>
          <% end %>
          <% if lead.time.present? %>
            <div class="lead_subtitle">When:</div>
              <%= lead.time %>       <br>
          <% end %>
          <% if lead.name.present? %>
            <div class="lead_subtitle">Offered by:</div>
              <%= lead.name %>       <br>
          <% end %>
          <br>
          <div class="lead_subtitle"></div>
            Published at: <%= lead.created_at.strftime("%d.%m.%y ob %H:%M") %>       <br>
        </div>

      </div>
    <% end %>
  </ul>
</div>
</div>
<script type="text/javascript">
    var leadboxes = document.querySelectorAll('.lead_box');
    for(var i = 0; i < leadboxes.length; i++) {
      (function leadbox (ID) {
        leadboxes[ID].addEventListener('click', function onClick (event) {
          var leadpath =leadboxes[ID].querySelector('a').getAttribute('href');
          window.location.href = leadpath;
        });
      })(i);
    }
</script>
