<div class="body_leads_index">

<div class="columns">

<ul class="wookmark">
<% if @leads.present? %>
  <% @sorted_leads.each do |lead| %>
    <% if lead.reverse_orders.where(paid: true).count == 0 %>
      <% if user_signed_in? %> 
        <% if lead.reverse_orders.where(selector_id: current_user.id).present? %>
          <% if lead.reverse_orders.where(selector_id: current_user.id).first.paid == true %>
          <% else %> 
            <div class="lead_box">
              <div class ="lead_title">
                <%= link_to "Servis", lead_path(lead) %>
                <%= link_to '<i class="fa fa-star"></i>'.html_safe, orders_path %> 
              </div>
              <%= render 'lead_body_for_index', :lead => lead %>
            </div>
          <% end %>
        <% else %>
            <div class="lead_box">
              <div class ="lead_title">
                <%= link_to "Servis", lead_path(lead) %> 
              </div>
              <%= render 'lead_body_for_index', :lead => lead %>
            </div>
        <% end %> 
      <% else%>
   <div class="lead_box">
        <div class ="lead_title">
          <%= link_to "Servis", lead_path(lead) %> 
        </div>
        <%= render 'lead_body_for_index', :lead => lead %>
    </div>
      <% end %>
      <% end %>
    <% end %>
<% else %>
</ul>
</div>
<div class="leads_index_no_leads_available">
  <%= I18n.t'leadsindex-notification.no-leads-available' %>
</div>
<% end %>
</div>
<script type="text/javascript">
    var leadboxes = document.querySelectorAll('.lead_box');
    for(var i = 0; i < leadboxes.length; i++) {
      (function leadbox (ID) {
        leadboxes[ID].addEventListener('click', function onClick (event) {
          var leadpath =leadboxes[ID].querySelector('a').getAttribute('href');
          window.location.href = leadpath;
        });
      })(i);
    }
</script>


