<html>
<head>
  <title></title>
</head>
<body>
<% if @leads.present? %>
      <% @leads.each do |lead| %>
        <% if lead.reverse_orders.count < 5 %>
          <h3>Business Type: <%= lead.business_type %></h3>
          Location: <%= lead.location %> <br>
          ZIP: <%= lead.zip %> <br>
          Time: <%= lead.time %> <br>
          Description: <%= lead.description %><br>
          <% if user_signed_in? %> 
            <% if lead.reverse_orders.where(selector_id: current_user.id).present? %>
              <% if lead.reverse_orders.where(selector_id: current_user.id).first.paid == true %>
                <button>Find me in <%= link_to "bought leads", orders_path %></button>
              <% else %>  
                <button><%= link_to "Confirm payment", lead_path(lead) %></button>
              <% end %>
            <% else %>
              <%= form_for(current_user.orders.build(selected_id: lead.id)) do |o| %>
                <%= o.hidden_field :selected_id %>       
                <%= o.submit "Buy" %>
              <% end %>
            <% end %> 
          <% else%>
            <button><%= link_to "Buy now", user_registration_path %></button>      
          <% end %>
        <% end %>
      <% end %>
<% else %>
  Currently there is no available leads.
<% end %>
</body>
</html>


