<html>
<head>
  <title></title>
</head>
<body>
<div class="columns">
<% if @leads.present? %>
  <% @leads.each do |lead| %>
    <% if user_signed_in? %> 
      <% if lead.reverse_orders.where(selector_id: current_user.id).present? %>
        <% if lead.reverse_orders.where(selector_id: current_user.id).first.paid == true %>
        <% else %> 
          <div class="lead_box">
            <div class ="lead_title">
              <%= link_to "#{lead.business_type}", lead_path(lead) %> 
            </div>
            <div class="lead_body">
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.location' %>:</div>     <%= lead.location %>   <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.zip' %>:</div>          <%= lead.zip %>        <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.time' %>:</div>         <%= lead.time %>       <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.description' %>:</div>  <%= lead.description %><br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.name' %>:</div>        <%= lead.name %>       <br>
            </div>
            <div class="button">
              <%= link_to "#{I18n.t'leadsindex-links.address-book'}", orders_path %>      
            </div>
          </div>
        <% end %>
      <% else %>
          <div class="lead_box">
            <div class ="lead_title">
              <%= link_to "#{lead.business_type}", lead_path(lead) %> 
            </div>
            <div class="lead_body">
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.location' %>:</div>     <%= lead.location %>   <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.zip' %>:</div>          <%= lead.zip %>        <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.time' %>:</div>         <%= lead.time %>       <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.description' %>:</div>  <%= lead.description %><br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.name' %>:</div>        <%= lead.name %>       <br>
            </div>
            <div class="button">
              <%= link_to "#{I18n.t'leadsindex-links.address-book'}", orders_path %>      
            </div>
          </div>
      <% end %> 
    <% else%>
 <div class="lead_box">
          <div class ="lead_title">
            <%= link_to "#{lead.business_type}", lead_path(lead) %> 
          </div>
            <div class="lead_body">
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.location' %>:</div>     <%= lead.location %>   <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.zip' %>:</div>          <%= lead.zip %>        <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.time' %>:</div>         <%= lead.time %>       <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.description' %>:</div>  <%= lead.description %><br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.name' %>:</div>        <%= lead.name %>       <br>
            </div>
          </div>
    <% end %>
  <% end %>
<% else %>
  <%= I18n.t'leadsindex-notification.no-leads-available' %>
<% end %>
</div>
<script type="text/javascript">
  window.onload = function () {
    var leadboxes = document.querySelectorAll('.lead_box');
    for(var i = 0; i < leadboxes.length; i++) {
      (function leadbox (ID) {
        leadboxes[ID].addEventListener('click', function onClick (event) {
          var leadpath =leadboxes[ID].querySelector('a').getAttribute('href');
          window.location.href = leadpath;
        });
      })(i);
    }
  };
</script>
</body>
</html>


