<html>
<head>
  <title></title>
</head>
<body>
<% if @leads.present? %>
  <% @leads.each do |lead| %>
    <% if user_signed_in? %> 
      <% if lead.reverse_orders.where(selector_id: current_user.id).present? %>
        <% if lead.reverse_orders.where(selector_id: current_user.id).first.paid == true %>
        <% else %> 
          <h3><%= link_to "#{lead.business_type}", lead_path(lead) %></h3>
          Location: <%= lead.location %> <br>
          ZIP: <%= lead.zip %> <br>
          Time: <%= lead.time %> <br>
          Description: <%= lead.description %><br>
          Name: <%= lead.name %> <br>
          <button><%= link_to "Liked <3", orders_path %></button>
        <% end %>
      <% else %>
        <h3><%= link_to "#{lead.business_type}", lead_path(lead) %></h3>
        Location: <%= lead.location %> <br>
        ZIP: <%= lead.zip %> <br>
        Time: <%= lead.time %> <br>
        Description: <%= lead.description %><br>
        Name: <%= lead.name %> <br>
      <% end %> 
    <% else%>
      <h3><%= link_to "#{lead.business_type}", lead_path(lead) %></h3>
      Location: <%= lead.location %> <br>
      ZIP: <%= lead.zip %> <br>
      Time: <%= lead.time %> <br>
      Description: <%= lead.description %><br>
      Name: <%= lead.name %> <br>   
    <% end %>
  <% end %>
<% else %>
  Currently there is no available leads.
<% end %>
</body>
</html>


