<div class="body_leads_index">

<div class="columns" id="main" role="main">
  <ol id="filters">
  <li data-filter="Mentorship">
    MENTORSHIP
  </li>
  <li data-filter="Volunteering">
    VOLUNTEERING
  </li>
  <li data-filter="Freelancing">
    FREELANCING
  </li>
  <li data-filter="Starting a business">
    NEW BUSINESS
  </li>
  <li data-filter="Co-founding">
    CO-FOUNDING
  </li>
  <li data-filter="Collaboration">
    COLLABORATION
  </li>
  <li data-filter="Learning">
    LEARNING
  </li>
</ol>
<ul id="tiles" class="wookmark">
  <% if @leads.present? %>
    <% @sorted_leads.each do |lead| %>
      <div class="lead_box" data-filter-class='["<%= lead.business_type %>"]'>
        <div class="lead_body">
          <div class="lead_title">
              <%= link_to lead.business_type, lead_path(lead) %>
          </div>
          <br>
          <% if lead.address.present? %>
            <div class="lead_subtitle">Location:</div>
              <%= lead.address %>        <br><br>
          <% end %>

          <% if lead.description.present? %>
            <div class="lead_subtitle">Description:</div>
              <%= lead.description %><br>
          <% end %>
          <% if lead.time.present? %>
            <div class="lead_subtitle">When:</div>
              <%= lead.time %>       <br>
          <% end %>
          <% if lead.name.present? %>
            <div class="lead_subtitle">Offered by:</div>
              <%= lead.name %>       <br>
          <% end %>
          <br>
          <div class="lead_subtitle"></div>
            Published at: <%= lead.created_at.strftime("%d.%m.%y ob %H:%M") %>       <br>
        </div>

      </div>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
    var leadboxes = document.querySelectorAll('.lead_box');
    for(var i = 0; i < leadboxes.length; i++) {
      (function leadbox (ID) {
        leadboxes[ID].addEventListener('click', function onClick (event) {
          var leadpath =leadboxes[ID].querySelector('a').getAttribute('href');
          window.location.href = leadpath;
        });
      })(i);
    }
</script>
