<html>
<head>
  <title></title>
  <!-- <meta http-equiv="refresh" content="3;url=http://www.google.com/" /> -->
</head>
<body class="body_leads_index">


<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
  
  <!-- JAVASCRIPT - WOOKMARK - columns -->

<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<script src="/assets/wookmark/jquery-2.1.0.min/index.js"></script>

  <!-- Include the plug-in -->
  <script src="/assets/wookmark/wookmark-jquery/jquery.wookmark.js"></script>

  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    (function ($){
      var handler = $('.lead_box');

      handler.wookmark({
          // Prepare layout options.
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('.columns'), // Optional, used for some extra CSS styling
          offset: 5, // Optional, the distance between grid items
          outerOffset: 10, // Optional, the distance to the containers border
          itemWidth: 60 // Optional, the width of a grid item
      });

      // Capture clicks on grid items.
      handler.click(function(){
        // Randomize the height of the clicked item.
        var newHeight = $('img', this).height() + Math.round(Math.random() * 300 + 30);
        $(this).css('height', newHeight+'px');

        // Update the layout.
        handler.wookmark();
      });
    })(jQuery);
  </script>

  <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

                          <!-- END OF WOOKMARK JAVASCRIPT -->

  <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->


<div class="columns">
<% if @leads.present? %>
  <% @leads.sort.reverse.each do |lead| %>
    <% if user_signed_in? %> 
      <% if lead.reverse_orders.where(selector_id: current_user.id).present? %>
        <% if lead.reverse_orders.where(selector_id: current_user.id).first.paid == true %>
        <% else %> 
          <div class="lead_box">
            <div class ="lead_title">
              <%= link_to "#{lead.business_type}", lead_path(lead) %>
              <%= link_to '<i class="fa fa-star"></i>'.html_safe, orders_path %> 
            </div>
            <div class="lead_body">
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.location' %>:</div>     <%= lead.location %>   <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.zip' %>:</div>          <%= lead.zip %>        <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.time' %>:</div>         <%= lead.time %>       <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.description' %>:</div>  <%= lead.description %><br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.name' %>:</div>        <%= lead.name %>       <br>
            </div>
          </div>
        <% end %>
      <% else %>
          <div class="lead_box">
            <div class ="lead_title">
              <%= link_to "#{lead.business_type}", lead_path(lead) %> 
            </div>
            <div class="lead_body">
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.location' %>:</div>     <%= lead.location %>   <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.zip' %>:</div>          <%= lead.zip %>        <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.time' %>:</div>         <%= lead.time %>       <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.description' %>:</div>  <%= lead.description %><br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.name' %>:</div>        <%= lead.name %>       <br>
            </div>
          </div>
      <% end %> 
    <% else%>
 <div class="lead_box">
          <div class ="lead_title">
            <%= link_to "#{lead.business_type}", lead_path(lead) %> 
          </div>
            <div class="lead_body">
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.location' %>:</div>     <%= lead.location %>   <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.zip' %>:</div>          <%= lead.zip %>        <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.time' %>:</div>         <%= lead.time %>       <br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.description' %>:</div>  <%= lead.description %><br>
              <div class="lead_subtitle"><%= I18n.t'leadsindex-lead.name' %>:</div>        <%= lead.name %>       <br>
            </div>
          </div>
    <% end %>
  <% end %>
<% else %>
  <%= I18n.t'leadsindex-notification.no-leads-available' %>
<% end %>
</div>
<script type="text/javascript">
  window.onload = function () {
    var leadboxes = document.querySelectorAll('.lead_box');
    for(var i = 0; i < leadboxes.length; i++) {
      (function leadbox (ID) {
        leadboxes[ID].addEventListener('click', function onClick (event) {
          var leadpath =leadboxes[ID].querySelector('a').getAttribute('href');
          window.location.href = leadpath;
        });
      })(i);
    }
  };
</script>
</body>
</html>


