<html>
<head>
  <title></title>
</head>
<body>
  <% if @leads.present? %>
    <% @leads.each do |lead| %>
      <h3>Business Type: <%= lead.business_type %></h3>
      Location: <%= lead.location %> <br>
      ZIP: <%= lead.zip %> <br>
      Time: <%= lead.time %> <br>
      Description: <%= lead.description %><br>
      <% if user_signed_in? %> 
        <% if @selected_ids_of_current_users_orders.include?(lead.id) == false  %>
    <!--       
    #############################################################################
    Create Order link (for testing)
    #############################################################################
  -->
          <%= form_for(current_user.orders.build(selected_id: lead.id)) do |o| %>
            <%= o.hidden_field :selected_id %>       
            <%= o.submit "Buy" %>
          <% end %> 
        <% elsif lead.paid == true %>
          <button>Find me in <a href='/leads/bought_leads'>Bought Leads</a></button>
        <% else %>
          <% if @user.present? %>
            <% if @user.wallet >= 10 %> 
              <button>Reserved <a href='/payment_confirmation'>(buy now)</a></button>
            <% else %>
              <button>Reserved <a href='/payment_type'>(buy now)</a></button>
            <% end %>
          <% end %>
        <% end %>
      <% else%>
        <button><%= link_to "Buy now", new_user_registration_path %></button>      
      <% end %>
    <% end %>
  <% else %>
    Currently there is no available leads.
  <% end %>
</body>
</html>


