
<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">  
      <i class="fa fa-pencil"></i>         Pošljite povpraševanje       </div>
    <div class="lead_new_explanation_second"> 
      <i class="fa fa-files-o"></i>        Primerjajte ponudbe           </div>
    <div class="lead_new_explanation_third">  
      <i class="fa fa-check-square-o"></i> Izberite preverjenega izvajalca.  </div>
  </div>
  <div class="lead_new">
    <div class="lead_new_title">
      <%= I18n.t'lead-new.title' %>
    </div>
    <div class="lead_new_instructions">
      <%= I18n.t'lead-new.instructions' %>
    </div>

    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "Nazaj", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "Naprej" unless @lead.last_step? %>
        <%= l.submit "Pošlji" if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
<section class="lead_new_we_help">
  <div class="lead_new_we_help_title">
    Pomagamo vam najti izkušene izvajalce in to po ceni, ki vam ustreza.
  </div>
  <div class="lead_new_we_help_categories_title">
    Več sto strank je že uspešno zaključilo svoj projekt v skupaj preko 10 kategorijah.
  </div>
  <div class="lead_new_we_help_categories_list">
    <i class="fa fa-check-square-o"> Arhitekti</i> 
    <i class="fa fa-check-square-o"> Gradnja</i> 
    <i class="fa fa-check-square-o"> Zidarstvo</i> 
    <i class="fa fa-check-square-o"> Prenove</i>  
    <i class="fa fa-check-square-o"> Strojne instalacije</i> 
    <i class="fa fa-check-square-o"> Električne instalacije</i> 
    <i class="fa fa-check-square-o"> Slikopleskarstvo</i> 
    <i class="fa fa-check-square-o"> Fasade</i> 
    <i class="fa fa-check-square-o"> Strehe</i> 
  </div>
</section> 
<section class="lead_new_company_info">
  <div class="lead_new_company_info_phone"> 080 4144</div>
  <div class="lead_new_company_info_name">Moj sosed d.o.o.</div>
  <div class="lead_new_company_info_address">Radehova 39, 2230 Lenart</div>
  <div class="lead_new_company_info_address">Jablonskistr. 24, 10405 Berlin</div>
  <div class="lead_new_company_info_contact"><%= mail_to "info@sosed.si", "info@sosed.si" %></div>
</section> 