
<div class="body_leads_new">
<div class="lead_new">
  <div class="lead_new_title">
    <%= I18n.t'lead-new.title' %>
  </div>
  <div class="lead_new_instructions">
    <%= I18n.t'lead-new.instructions' %>
  </div>

<%= form_for (@lead) do |l| %>
  <div class="lead_new_form_business_type">
    <%= l.select :business_type, @business_types, {:prompt=>"#{I18n.t'lead-new.form.prompt-business-type'}"}, required: "required" %> <br>
  </div>
  <div class="lead_new_form_time">
    <%= l.select :time, @time, {:prompt=>"#{I18n.t'lead-new.form.prompt-time'}"}, required: "required" %> <br>
  </div>
  <div class="lead_new_form_zip">
    <%= l.label :"#{I18n.t'lead-new.form.zip'}" %>
    <%= l.text_field :zip, required: "required" %>
  </div>
  <div class="lead_new_form_description">
    <%= l.label :"#{I18n.t'lead-new.form.description'}" %>
    <%= l.text_field :description, required: "required" %>
  </div>
  <div class="lead_new_form_name">
    <%= l.label :"#{I18n.t'lead-new.form.name'}"  %>
    <%= l.text_field :name %>
  </div>
  <div class="lead_new_form_email">
    <%= l.label :"#{I18n.t'lead-new.form.email'}" %>
    <%= l.text_field :email, required: "required" %>
  </div>
  <div class="lead_new_form_phone">
    <%= l.label :"#{I18n.t'lead-new.form.phone'}" %>
    <%= l.text_field :phone, required: "required" %>
  </div>
  <div class="lead_new_form_submit">
    <%= l.submit "Send" %>
  </div>
  <% end %>
</div>
</div>