<html>
<head>
  <title></title>
</head>
<body class="body_leads_new">
<div class="lead_new">
  <div class="lead_new_title">
    Book a service
  </div>
  <div class="lead_new_instructions">
    Send a free inquiry and up to 5 chosen providers will contact you with their special offers. 
  </div>

<%= form_for (@lead) do |l| %>
  <div class="lead_new_form_business_type">
    <%= l.select :business_type, @business_types, {:prompt=>'Who are you looking for?'} %> <br>
  </div>
  <div class="lead_new_form_time">
    <%= l.select :time, @time, {:prompt=>'When would you need a service?'} %> <br>
  </div>
  <div class="lead_new_form_zip">
    <%= l.label :zip %>
    <%= l.text_field :zip %>
  </div>
  <div class="lead_new_form_description">
    <%= l.label :description %>
    <%= l.text_field :description %>
  </div>
  <div class="lead_new_form_name">
    <%= l.label :name %>
    <%= l.text_field :name %>
  </div>
  <div class="lead_new_form_email">
    <%= l.label :email %>
    <%= l.text_field :email %>
  </div>
  <div class="lead_new_form_phone">
    <%= l.label :phone %>
    <%= l.text_field :phone %>
  </div>
  <div class="lead_new_form_submit">
    <%= l.submit "Send" %>
  </div>
  <% end %>
</div>
</body>
</html>