
<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">
      <i class="fa fa-pencil"></i>         Tell us what you need.      </div>
    <div class="lead_new_explanation_second">
      <i class="fa fa-files-o"></i>        Receive offers.          </div>
    <div class="lead_new_explanation_third">
      <i class="fa fa-check-square-o"></i> Contract the right pro. </div>
  </div>
  <div class="lead_new">
    <br>
    <div class="lead_new_instructions">
       Some newcomers are skilled programmers and web designers
       or they are learning by doing together with a team of high skilled professionals based in Berlin.
       Let's not keep them waiting and help by offering them freelance opportunities.
     </div>
    <div class="lead_new_title">
      Book independent service professionals safely and easily
      <br>
    </div>
    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "Back", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "Next" unless @lead.last_step? %>
        <%= l.submit "Send", data: { disable_with: "Please wait..." } if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
