
<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">
      <i class="fa fa-pencil"></i>         Describe idea or service that you offer.      </div>
    <div class="lead_new_explanation_second">
      <i class="fa fa-files-o"></i>        App will notify other users.          </div>
    <div class="lead_new_explanation_third">
      <i class="fa fa-check-square-o"></i> Those who are interested will contact you.  </div>
  </div>
  <div class="lead_new">
    <br>
    <div class="lead_new_instructions">
       We help newcomers and locals to work together.
       Local organisations can help newcomers start their business,
       offer them volunteering opportunities or hire them as freelancers.
       <br>
       <br>
       Newcomers can ask for help with their business idea, freelancing or searching for clients. </div>
    <div class="lead_new_title">
      Create new post!
    </div>
    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "Back", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "Next" unless @lead.last_step? %>
        <%= l.submit "Send", data: { disable_with: "Please wait..." } if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
