
<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">
      <i class="fa fa-pencil"></i>         Say what you need/can help with?      </div>
    <div class="lead_new_explanation_second">
      <i class="fa fa-files-o"></i>        Other users get notified about your post.          </div>
    <div class="lead_new_explanation_third">
      <i class="fa fa-check-square-o"></i> Users who can do/help, will get in touch with you.  </div>
  </div>
  <div class="lead_new">
    <br>
    <div class="lead_new_instructions">
      Tell us what do you need
      <br>
      or what you can help with!  </div>
    <div class="lead_new_title">
      Create new invitation!
    </div>
    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "Back", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "Next" unless @lead.last_step? %>
        <%= l.submit "Send" if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
  <%= render "layouts/disqus" %>
