
<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">
      <i class="fa fa-pencil"></i>         Post what you offer or need.      </div>
    <div class="lead_new_explanation_second">
      <i class="fa fa-files-o"></i>        App notifies about new post.          </div>
    <div class="lead_new_explanation_third">
      <i class="fa fa-check-square-o"></i> Others can respond to your post on the marketplace. </div>
  </div>
  <div class="lead_new">
    <br>
    <div class="lead_new_instructions">
       Some newcomers are skilled translators or designers,
       cooks, journalists or programmers etc. Let's not keep them waiting
       for a job and help them become self-employed.
       <br>
       <br>
       Are you a newcomer? Tell us what service can you offer and we will help you
       find a local company or organisation who could hire you. <br><br>
       Not self-employed yet?
       Create a support request to find a local organisation who can advise you and help you get started.
       <a href=http://www.refugees.com/en/info#legal> See more info.</a>
     </div>
    <div class="lead_new_title">
      Create new post!
    </div>
    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "Back", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "Next" unless @lead.last_step? %>
        <%= l.submit "Send", data: { disable_with: "Please wait..." } if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
