
<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">
      <i class="fa fa-pencil"></i>         Say what you need?      </div>
    <div class="lead_new_explanation_second">
      <i class="fa fa-files-o"></i>        We find available refugees.          </div>
    <div class="lead_new_explanation_third">
      <i class="fa fa-check-square-o"></i> You help & get things done.  </div>
  </div>
  <div class="lead_new">
    <br>
    <div class="lead_new_instructions">
      Post a job/task and we will find the right refugee who can do what you need.     </div>
    <div class="lead_new_instructions">
      To pay back you can prepare some nice meal, give a pice of clothing or ask what they need in return for their time.    </div>
    <div class="lead_new_title">
      Post a new job!
    </div>
    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "Back", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "Next" unless @lead.last_step? %>
        <%= l.submit "Send" if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
  <%= render "layouts/disqus" %>
