
<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">
      <i class="fa fa-pencil"></i>         You describe the service you need or offer.      </div>
    <div class="lead_new_explanation_second">
      <i class="fa fa-files-o"></i>        App notifies users about your post.          </div>
    <div class="lead_new_explanation_third">
      <i class="fa fa-check-square-o"></i> Available newcomers and/or locals can contact you. </div>
  </div>
  <div class="lead_new">
    <br>
    <div class="lead_new_instructions">
       We help newcomers and locals to work together.
       Some refugees are hairdressers or designers,
       cooks, translators or computer technicians etc.
       <br>
       <br>
       Tell us what service do you offer and we will notify other users.
       If you are looking for a service, you simply post your request and the app
       will connect you to the right person. </div>
    <div class="lead_new_title">
      Create new post!
    </div>
    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "Back", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "Next" unless @lead.last_step? %>
        <%= l.submit "Send", data: { disable_with: "Please wait..." } if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
