<html>
<head>
  <title></title>
</head>
<body>
<% if current_user.try(:orders).present? %>
  <% if user_signed_in? %>
      <h2>LEADS YOU RESERVED:</h2>
        <% @ordered_leads.each do |lead| %>
          Business Type: <%= lead.business_type %> <br>
          Location: <%= lead.location %> <br>
          Time: <%= lead.time %> <br>
          Description: <%= lead.description %> <br>
          ZIP: <%= lead.zip %> <br>
          <strong>Customer contact information:</strong><br>
            <% if current_user.wallet >= 10 %>
              <button><a href='/payment_confirmation'>Confirm payment</a></button> <br>
            <% else %>
              <button><a href='/payment_type'>Buy now</a></button> <br>
            <% end %>
          <br>
        <% end %> 
  <% else %>
   You have to <%= link_to "Sign up", 
      new_user_registration_path %> or
      <%= link_to "Login", 
      new_user_session_path %> to see your bought leads.
  <% end %>
<% else %>
  No reservations yet.
<% end %> 
</body>
</html>