<div class="body_leads_new">
<section class="lead_new_photo">
  <div class="lead_new_explanation">
    <div class="lead_new_explanation_first">  
      <i class="fa fa-pencil"></i>         Oddajte kontakt stranke </div>
    <div class="lead_new_explanation_second"> 
      <i class="fa fa-files-o"></i>        Mi poiščemo prostega serviserja </div>
    <div class="lead_new_explanation_third">  
      <i class="fa fa-check-square-o"></i> Vi prejmete provizijo </div>
  </div>
  <div class="lead_new">
    <div class="lead_new_title">
      Sosed sosedu
    </div>
    <div class="lead_new_instructions">
      Oddajte kontakt stranke, ki je ne boste uspeli servisirati. <br>Delite z drugimi in si prislužite %.<br>
    </div>
    <%= form_for (@lead) do |l| %>
      <%= render "#{@lead.current_step}_step", :l => l %>
      <div class="lead_new_form_submit">
        <%= l.submit "Nazaj", :name => "back_button" unless @lead.first_step? %>
        <%= l.submit "Naprej" unless @lead.last_step? %>
        <%= l.submit "Pošlji" if @lead.last_step? %>
      </div>
    <% end %>
  </div>
</section>
<section class="lead_new_we_help">
  <div class="lead_new_we_help_title">
    Zaslužite s servisi, ki jih ne morete sprejeti. Oddajte kontakt stranke in poskrbeli bomo, da boste prejeli provizijo. 
  </div>
  <div class="lead_new_we_help_categories_title">
    Uspešni so tisti, ki se znajo povezati.<br>
    Za kontakt, ki ga boste oddali, bomo poiskali prostega serviserja. 
  </div>
  <div class="lead_new_we_help_categories_list">
    <i class="fa fa-check-square-o"> Odstranjevanje virusov</i> 
    <i class="fa fa-check-square-o"> Nameščanje in popravila programske opreme</i> 
    <i class="fa fa-check-square-o"> Omrežja</i> 
    <i class="fa fa-check-square-o"> Trening 1-na-1</i>  
    <i class="fa fa-check-square-o"> Namestitve strojne opreme</i> 
    <i class="fa fa-check-square-o"> Nadgradnja</i> 
    <i class="fa fa-check-square-o"> Zaščita</i> 
    <i class="fa fa-check-square-o"> Svetovanje</i> 
    <i class="fa fa-check-square-o"> Nakup opreme</i> 
  </div>
</section> 
<section class="lead_new_testimonials">
  <div class="lead_new_testimonials_text"><i class="fa fa-quote-left"></i>Jaz tebi - ti meni.<i class="fa fa-quote-right"></i></div>
  

  <div class="lead_new_testimonials_text"><i class="fa fa-quote-left"></i>Deli z drugimi. Če sam deliš, bodo tudi drugi delili s teboj. <i class="fa fa-quote-right"></i></div>
  

  <div class="lead_new_testimonials_text"><i class="fa fa-quote-left"></i>Hitro priskoči na pomoč. To je prva definicija uspeha.<i class="fa fa-quote-right"></i></div>
</section>
<section class="lead_new_company_info">
  <div class="lead_new_company_info_phone"> 080 4144</div>
  <div class="lead_new_company_info_name">Moj sosed d.o.o.</div>
  <div class="lead_new_company_info_address">Radehova 39, 2230 Lenart</div>
  <div class="lead_new_company_info_contact"><%= mail_to "info@sosed.si", "info@sosed.si" %></div>
</section> 