<html>
<head>
  <title></title>
</head>
<body>
<h2>NEW LEAD:</h2>
Business Type: <%= @lead.business_type %> <br>
Location: <%= @lead.location %> <br>
Time: <%= @lead.time %> <br>
Description: <%= @lead.description %> <br>
ZIP: <%= @lead.zip %> <br>
<h3>About the customer:</h3>
Name: <%= @lead.name %> <br>
Phone: <%= @lead.phone %> <br>
E-mail: <%= @lead.email %> <br>
</body>
</html>