<% if @lead.present? %> 
    <h3>
      <%= @lead.business_type %> <br>
    </h3>
    <%= I18n.t'leadsshow-lead.location' %>    :<%= @lead.location %>       <br>
    <%= I18n.t'leadsshow-lead.zip' %>         :<%= @lead.zip %>            <br>
    <%= I18n.t'leadsshow-lead.time' %>        : <%= @lead.time %>          <br>
    <%= I18n.t'leadsshow-lead.description' %> : <%= @lead.description %>   <br>
    <%= I18n.t'leadsshow-lead.name' %>        : <%= @lead.name %>          <br>
    <% if user_signed_in? %> 
      <% if @lead.reverse_orders.where(selector_id: current_user.id).present? %>
        <% if @lead.reverse_orders.where(selector_id: current_user.id).first.paid == true %>
          <button> 
            <%= link_to "#{I18n.t'leadsshow-links.address-book'}", orders_path %>
          </button>
        <% else %>
            <p><%= I18n.t'leadsshow-lead.price' %> </p>
            <%= render 'payment_confirmation_link' %>
        <% end %>
      <% else %>
        <p><%= I18n.t'leadsshow-lead.price' %> </p>
        <%= form_for(current_user.orders.build(selected_id: @lead.id)) do |o| %>
          <%= o.hidden_field :selected_id %>       
          <%= o.submit "#{I18n.t'leadsshow-links.buy'}" %>
        <% end %>
      <% end %> 
    <% else%>
      <p><%= I18n.t'leadsshow-lead.price' %> </p>
      <button><%= link_to "#{I18n.t'leadsshow-links.buy'}", user_registration_path %></button>      
    <% end %>
<% else %>
  This lead isn't available.
<% end %>


