<html>
<head>
  <title></title>
</head>
<body>
  <% if user_signed_in? %>
    <% if current_user.orders.any? %>
      <h2>MY LEADS:</h2>
        <% @ordered_leads.each do |lead| %>
          Business Type: <%= lead.business_type %> <br>
          Location: <%= lead.location %> <br>
          Time: <%= lead.time %> <br>
          Description: <%= lead.description %> <br>
          ZIP: <%= lead.zip %> <br>
          <strong>Customer contact information:</strong><br>
          Name: <%= lead.name %> <br>
          Phone: <%= lead.phone %> <br>
          E-mail: <%= lead.email %> <br>
          <%= form_for (lead) do |l| %>
            <%= text_area(:lead, :notes, :size => 20, :value => "#{lead.notes}") %>
            <%= l.submit "Save" %>
          <% end %>
          <br>
        <% end %> 
    <% end %> 
  <% else %>
   You have to <%= link_to "Sign up", 
      new_user_registration_path %> or
      <%= link_to "Login", 
      new_user_session_path %> to see your bought leads.
  <% end %>
</body>
</html>