<div class="body_leads_show">
  <a class="back_to_main_page_button" href="/"></a>
  <% if @lead.present? %>
    <div class="lead_show">
      <div class="lead_show_title">
        <% if @lead.business_type.present? %>
          <%= @lead.business_type %>
        <% else %>
          New offer
        <% end %>
      </div>
      <div class="lead_show_body">
        <div class="lead_show_items_short">
          <div class="lead_show_item">
          <% if @lead.address.present? %>
            <div class="lead_show_subtitle">Location:</div>
              <%= @lead.address %>        <br>
          <% end %>
          <br>
          <% if @lead.description.present? %>
            <div class="lead_show_subtitle">Description:</div>
              <%= @lead.description %><br>
          <% end %>
          <% if @lead.time.present? %>
            <div class="lead_show_subtitle">When:</div>
              <%= @lead.time %>       <br>
          <% end %>
          <% if @lead.name.present? %>
            <div class="lead_show_subtitle">Contact:</div>
              <%= @lead.name %>       <br>
          <% end %>
          <br>
        </div>
        </div>
    <% if user_signed_in? %>
      <% if @lead.reverse_orders.where(selector_id: current_user.id).present? %>
        <div class="lead_show_buy">
          <%= link_to "Continue to contact info", address_book_path %>
        </div>
      <% else %>
        <div class="lead_show_buy">
          <%- # PLEASE REFACTOR ME! NO DB QUERY OR BUILD STATEMENT IN VIEWS! %>
          <%= form_for(current_user.orders.build(selected_id: @lead.id)) do |o| %>
            <%= o.hidden_field :selected_id %>
            <%= o.submit "Continue to contact info" %>
          <% end %>
        </div>
      <% end %>
    <% else%>
      <div class="lead_show_buy">
        <%= link_to "Sign in / Log in to see contact info", user_registration_path %>
      </div>
    <% end %>
    </div>
<% else %>
  This lead isn't available.
<% end %>
</div>
