<div class="body_dummy_orders_address_book">
  <div class="columns">
    <ul class="wookmark">
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Krovstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
        <div class="address_book_lead_subtitle">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 01 234 56789 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> ana.novak@vzorec.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/214" class="edit_order" id="edit_order_214" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PON - stranki poslati predračun</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Slikopleskarstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
        <div class="address_book_lead_subtitle">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 01 234 56789 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> ana.novak@vzorec.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/214" class="edit_order" id="edit_order_214" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PON - stranki poslati predračun</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Fasaderstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
        <div class="address_book_lead_subtitle">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 01 234 56789 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> ana.novak@vzorec.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/214" class="edit_order" id="edit_order_214" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PON - stranki poslati predračun</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Keramičastvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
        <div class="address_book_lead_subtitle">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 01 234 56789 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> ana.novak@vzorec.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/214" class="edit_order" id="edit_order_214" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PON - stranki poslati predračun</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Parketarstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
        <div class="address_book_lead_subtitle">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 01 234 56789 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> ana.novak@vzorec.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/214" class="edit_order" id="edit_order_214" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PON - stranki poslati predračun</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Suhomontaža
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
        <div class="address_book_lead_subtitle">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 01 234 56789 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> ana.novak@vzorec.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/214" class="edit_order" id="edit_order_214" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PON - stranki poslati predračun</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Renovacije
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
        <div class="address_book_lead_subtitle">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 01 234 56789 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> ana.novak@vzorec.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/214" class="edit_order" id="edit_order_214" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PON - stranki poslati predračun</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
  </ul>
</div>
</div>

