<div class="body_dummy_orders_address_book">
  <div class="columns">
    <ul class="wookmark">
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Krovstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Kranj 
        <div class="address_book_lead_subtitle">
          Pošta:</div>4240 
        <div class="address_book_lead_subtitle">
          Opis:</div>Prenova obstoječe strehe na stanovanjski hiši: dvokapnica 225 m2   - ostranitev obstoječe kritine   - letvanje + letve   - polaganje folije + folija   - prekrivanje z kritino Bramac / 2. opcija hosecra  - žlebovi + odtoki - aluminij 32 m + 14 m   - obrobe dimnika 2 kom   - montaža strešnih oken 5 kom 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Franci
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456
        <div class="address_book_lead_subtitle">
          E-naslov:</div> franci@primer.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/214" class="edit_order" id="edit_order_214" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PON - oglasiti se pri stranki za svetovanje glede obnove</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Slikopleskarstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Maribor 
        <div class="address_book_lead_subtitle">
          Pošta:</div>2230 
        <div class="address_book_lead_subtitle">
          Opis:</div>Pred oddajo želimo v celoti prebeliti 2,5 sobno stanovanje – 75m2 stanovanjske površine 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V naslednjih 14 dneh 
        <div class="address_book_lead_subtitle">
          Ime:</div> Jožica
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> franci@primer.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/217" class="edit_order" id="edit_order_217" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PON - poklicati

Našla drugega izvajalca :(  Ugotoviti, zakaj nas ni izbrala!!!</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Fasaderstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Celje 
        <div class="address_book_lead_subtitle">
          Pošta:</div>3458 
        <div class="address_book_lead_subtitle">
          Opis:</div>Barvanje Demit fasade stare 10 let na enonadstropni stanovanjski hiši 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V 1-3 mesecev 
        <div class="address_book_lead_subtitle">
          Ime:</div> Mateja
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> franci@primer.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/215" class="edit_order" id="edit_order_215" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
DO SREDE - Stranki je treba poslati e-mail z nasveti, katere materiale in barve priporočamo. Zraven še okvirno ponudbo

PET - poklicati, ali lhko pomagamo še s kakšnim nasvetom</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Keramičastvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1210 
        <div class="address_book_lead_subtitle">
          Opis:</div>V kleti hiše želim položiti keramiko v treh prostorih. Do sedaj nismo še ničesar položenega.  Površina okoli 80m2 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V 1-3 mesecev 
        <div class="address_book_lead_subtitle">
          Ime:</div> Marjan
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> franci@primer.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/218" class="edit_order" id="edit_order_218" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
TOR - Poslati nekaj idej (slike), kakšno vrsto ploščic bi uporabili.</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Parketarstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Brušenje in lakiranje klasičnega parketa v 70m2 veliki mansardi 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V naslednjih 14 dneh 
        <div class="address_book_lead_subtitle">
          Ime:</div> Josip
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> franci@primer.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/220" class="edit_order" id="edit_order_220" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
PET - poklicati
PON - poklicati in se zmeniti za ceno
PET - dogovoriti se za termin!
Pošlji račun!!! </textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Suhomontaža
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Koper 
        <div class="address_book_lead_subtitle">
          Pošta:</div>6221 
        <div class="address_book_lead_subtitle">
          Opis:</div>V starejšem stanovanju želim znižati stropove na standardno višino 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Maša
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456  
        <div class="address_book_lead_subtitle">
          E-naslov:</div> franci@primer.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/216" class="edit_order" id="edit_order_216" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
TOR - poklicati po 14h</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Renovacije
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Obnova trosobnega stanovanja tudi z okni, kopalnico, skratka v celoti 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Gorazd
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456  
        <div class="address_book_lead_subtitle">
          E-naslov:</div> franci@primer.si
      </div>
        <div class="address_book_lead_notes">      
        <form accept-charset="UTF-8" action="/orders/219" class="edit_order" id="edit_order_219" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
SRE - Poklicati!</textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
  </ul>
</div>
</div>
