<div class="body_dummy_orders_reserved">
  <div class="columns">
    <ul class="wookmark">
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Krovstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Slikopleskarstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Fasaderstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>    
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Keramičastvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Parketarstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Suhomontaža
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Renovacije
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Tole je testni kontakt, da lahko vidite, kako približno izgledajo povpraševanja strank.
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Ana
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>

    </div>
  </ul>
</div>
</div>