<div class="body_dummy_orders_reserved">
  <div class="columns">
    <ul class="wookmark">
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Servis
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000
        <div class="address_book_lead_subtitle">
          Opis:</div>Težave s tiskalnikom ter počasen računalnik
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Nujno čimprej
        <div class="address_book_lead_subtitle">
          Ime:</div> Franci
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456
        <div class="address_book_lead_subtitle">
          E-naslov:</div> franci@primer.si
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Servis
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Odstranjevanje virusov
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V roku 24h
        <div class="address_book_lead_subtitle">
          Ime:</div> Maja
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> maja@primer.si
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Servis
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Medvode 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1215
        <div class="address_book_lead_subtitle">
          Opis:</div>Povezovanje v omrežje 5 računalnikov
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V roku 24h 
        <div class="address_book_lead_subtitle">
          Ime:</div> Mateja
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456  
        <div class="address_book_lead_subtitle">
          E-naslov:</div> mateja@primer.si
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>    
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Servis
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Domžale 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1210 
        <div class="address_book_lead_subtitle">
          Opis:</div>Želim pohitriti delovanje računalnika in namestitev brskalnika Chrome
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V roku 7 dni
        <div class="address_book_lead_subtitle">
          Ime:</div> Lidija
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> lidija@primer.si
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Servis
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Trening uporabe spletne banke in Power pointa
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V naslednjih 14 dneh 
        <div class="address_book_lead_subtitle">
          Ime:</div> Janez
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> janez@primer.si
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Servis
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Virusi na Facebooku in počasen računalnik
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Servis nad daljavo
        <div class="address_book_lead_subtitle">
          Ime:</div> Maša
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> masa@gmail.com
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Servis
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Podaljšanje antivirusnega programa
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Servis nad daljavo 
        <div class="address_book_lead_subtitle">
          Ime:</div> Gorazd
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 040 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> gorazd@primer.si
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>

    </div>
  </ul>
</div>
</div>