<div class="body_dummy_orders_reserved">
  <div class="columns">
    <ul class="wookmark">
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Krovstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Kranj 
        <div class="address_book_lead_subtitle">
          Pošta:</div>4240 
        <div class="address_book_lead_subtitle">
          Opis:</div>Prenova obstoječe strehe na stanovanjski hiši: dvokapnica 225 m2   - ostranitev obstoječe kritine   - letvanje + letve   - polaganje folije + folija   - prekrivanje z kritino Bramac / 2. opcija hosecra  - žlebovi + odtoki - aluminij 32 m + 14 m   - obrobe dimnika 2 kom   - montaža strešnih oken 5 kom 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Franci
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 030 123 456
        <div class="address_book_lead_subtitle">
          E-naslov:</div> franci@primer.si
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Slikopleskarstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Maribor 
        <div class="address_book_lead_subtitle">
          Pošta:</div>2230 
        <div class="address_book_lead_subtitle">
          Opis:</div>Pred oddajo želimo v celoti prebeliti 2,5 sobno stanovanje – 75m2 stanovanjske površine 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V naslednjih 14 dneh 
        <div class="address_book_lead_subtitle">
          Ime:</div> Jožica
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 030 123 456
        <div class="address_book_lead_subtitle">
          E-naslov:</div> jozica@primer.si
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Fasaderstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Celje 
        <div class="address_book_lead_subtitle">
          Pošta:</div>3458 
        <div class="address_book_lead_subtitle">
          Opis:</div>Barvanje Demit fasade stare 10 let na enonadstropni stanovanjski hiši 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V 1-3 mesecev 
        <div class="address_book_lead_subtitle">
          Ime:</div> Mateja
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 030 123 456 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> mateja@primer.si
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>    
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Keramičastvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1210 
        <div class="address_book_lead_subtitle">
          Opis:</div>V kleti hiše želim položiti keramiko v treh prostorih. Do sedaj nismo še ničesar položenega.  Površina okoli 80m2 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V 1-3 mesecev 
        <div class="address_book_lead_subtitle">
          Ime:</div> Marjan
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 030 123 456
        <div class="address_book_lead_subtitle">
          E-naslov:</div> marjan@primer.si
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Parketarstvo
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Brušenje in lakiranje klasičnega parketa v 70m2 veliki mansardi 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> V naslednjih 14 dneh 
        <div class="address_book_lead_subtitle">
          Ime:</div> Josip
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 030 123 456
        <div class="address_book_lead_subtitle">
          E-naslov:</div> josip@primer.si
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Suhomontaža
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Koper 
        <div class="address_book_lead_subtitle">
          Pošta:</div>6221 
        <div class="address_book_lead_subtitle">
          Opis:</div>V starejšem stanovanju želim znižati stropove na standardno višino 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Maša
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 051 278 540 
        <div class="address_book_lead_subtitle">
          E-naslov:</div> masa_ponikvar@gmail.com
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Renovacije
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Regija</div>Ljubljana 
        <div class="address_book_lead_subtitle">
          Pošta:</div>1000 
        <div class="address_book_lead_subtitle">
          Opis:</div>Obnova trosobnega stanovanja tudi z okni, kopalnico, skratka v celoti 
        <div class="address_book_lead_subtitle">
          Kdaj?:</div> Po dogovoru 
        <div class="address_book_lead_subtitle">
          Ime:</div> Gorazd
        <div class="address_book_lead_customer_info">
          Kontaktne informacije stranke:</div>
        <div class="address_book_lead_subtitle">
          Telefon:</div> 030 123 456
        <div class="address_book_lead_subtitle">
          E-naslov:</div> gorazd@primer.si
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %> 
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>

    </div>
  </ul>
</div>
</div>