<div class="body_dummy_orders_reserved">
  <div class="columns">
    <ul class="wookmark">
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>)
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %>
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>)
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %>
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>)
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %>
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>)
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %>
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>)
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %>
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>)
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %>
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
              <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>)
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.buy'}", reserved_path %>
        </div>
        <div class="address_book_remove_button">
          <%= link_to "#{I18n.t'ordersindex-buttons.remove-from-reserved'}", reserved_path %>
        </div>
      </div>

    </div>
  </ul>
</div>
</div>
