<div class="body_dummy_orders_address_book">
  <div class="columns">
    <ul class="wookmark">
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
        <div class="address_book_lead_notes">
        <form accept-charset="UTF-8" action="/orders/214" class="edit_order" id="edit_order_214" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
            WED  - Call!
          </textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
        <div class="address_book_lead_notes">
        <form accept-charset="UTF-8" action="/orders/217" class="edit_order" id="edit_order_217" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
            WED  - Call!
          </textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
        <div class="address_book_lead_notes">
        <form accept-charset="UTF-8" action="/orders/215" class="edit_order" id="edit_order_215" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
            WED  - Call!
          </textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
        <div class="address_book_lead_notes">
        <form accept-charset="UTF-8" action="/orders/218" class="edit_order" id="edit_order_218" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
            WED  - Call!
          </textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
        <div class="address_book_lead_notes">
        <form accept-charset="UTF-8" action="/orders/220" class="edit_order" id="edit_order_220" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
            WED  - Call!
          </textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
        <div class="address_book_lead_notes">
        <form accept-charset="UTF-8" action="/orders/216" class="edit_order" id="edit_order_216" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
            WED  - Call!
          </textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        Starting a business
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
        Where?</div>Berlin
        <div class="address_book_lead_subtitle">
          Description:</div>I spent 6 days at lesbos island to understand the refugees situation. I'm currently working on an idea that will save lifes of refugees. I'm looking for a Syrian co-founder to help me.
        <div class="address_book_lead_subtitle">
          When?:</div> Now
        <div class="address_book_lead_subtitle">
          Name:</div> Ali
        <div class="address_book_lead_customer_info">
          Contact info:</div>
        <div class="address_book_lead_subtitle">
          Phone:</div> 0176 288 3536
        <div class="address_book_lead_subtitle">
          E-mail:</div> ali@example.com
      </div>
        <div class="address_book_lead_notes">
        <form accept-charset="UTF-8" action="/orders/219" class="edit_order" id="edit_order_219" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="ZLw8/TqiagndNgeD9ethraQomZ/ENl2fdrED+hJjjrE=" /></div>
          <textarea id="order_notes" name="order[notes]">
            WED  - Call!
          </textarea>
          <div class="address_book_lead_notes_button">
            <a href="<%= address_book_path %>">Shrani</a>
          </div>
        </form> </div>
    </div>
  </ul>
</div>
</div>
