<% if @order.present? %>
::::::::::::::::::::::::::::::::::::::::::::::
<div>
  <p>
    <h2><strong>Offer for lead: 14<%= @lead.id %> <br> </h2>
    Date: <%= Date.today.strftime("%d/%m/%Y") %></strong><br>
  </p>
<div>


::::::::::::::::::::::::::::::::::::::::::::::
<div>
<table>
  <tr align="left">
    <th>User name:</th>
    <th><%= current_user.email %></th>
  </tr>
  <tr align="left">  
    <th>Company name:</th>
    <th> </th>
  </tr>
  <tr align="left">
    <th>Address:</th>
    <th></th>
  </tr>   
  <tr align="left"> 
    <th>City:</th>
    <th></th>
  </tr>
  <tr align="left">
    <th>TAX ID:</th>
    <th></th>
  </tr>
</table>
</div>

::::::::::::::::::::::::::::::::::::::::::::::
 <div>
  <p> 
    <h3>
      <%= @lead.business_type %> <br>
    </h3>
    <%= I18n.t'ordersshow-lead.location' %>       :<%= @lead.location %>       <br>
    <%= I18n.t'ordersshow-lead.zip' %>            :<%= @lead.zip %>            <br>
    <%= I18n.t'ordersshow-lead.time' %>           : <%= @lead.time %>          <br>
    <%= I18n.t'ordersshow-lead.description' %>    : <%= @lead.description %>   <br>
    <%= I18n.t'ordersshow-lead.name' %>           : <%= @lead.name %>          <br>
  </p>
<div>
  :::::::::::::::::::::::::::::::::::::::::::::: <br>

 <strong> Payment information:</strong>
<div>
  <p>
    Quantity: 1 <br>
    Price: 10 € <br>
</p>
</div>
::::::::::::::::::::::::::::::::::::::::::::::

<div>
<table>
  <tr align="left">
    <th>Company:</th>
    <th>Moj sosed d.o.o.</th>
  </tr> 
  <tr align="left">
    <th>TAX ID:</th>
    <th>49595105</th>
  </tr> 
  <tr align="left">
    <th>Address:</th>
    <th>Radehova 39</th>
  </tr> 
  <tr align="left">
    <th>City:</th>
    <th>2230 Lenart</th>
  </tr> 
  <tr align="left"> 
    <th>Purpose:</th>
    <th>Lead payment</th>
  </tr>
  <tr align="left">
    <th>Account:</th>
    <th>IBAN SI56 0410 2000 2065 311 (NOVA KBM d.d.)</th>
  </tr>
</div>
::::::::::::::::::::::::::::::::::::::::::::::
<% end %>