<html>
<head>
  <title></title>
</head>
<body class="body_bank_transaction">
  <% if @order.present? %>

<div class="offer">
  <div class="offer_title">
    <%= I18n.t'orders-banktransaction.offer_title' %><%= @lead.id %>
  </div>
  <table class="offer_company_info">
    <tr class="offer_company_info_item" >
      <td><%= I18n.t'orders-banktransaction.offer_item_username' %>:</td>
      <td><%= current_user.email %></td>
    </tr>
<!--     <tr class="offer_company_info_item">  
      <td>Company name:</td>
      <td> </td>
    </tr>
    <tr class="offer_company_info_item">
      <td>Address:</td>
      <td></td>
    </tr>   
    <tr class="offer_company_info_item"> 
      <td>City:</td>
      <td></td>
    </tr>
    <tr class="offer_company_info_item">
      <td>TAX ID:</td>
      <td></td>
    </tr> -->
  </table>

  <div class="offer_date">
    <%= I18n.t'orders-banktransaction.offer_date' %>: <%= Date.today.strftime("%d/%m/%Y") %></strong><br>
  </div>

  <table class="offer_sosed_info">
    <tr class="offer_sosed_info_price">
      <td><%= I18n.t'orders-banktransaction.offer_price' %>:</td>
      <td><%= I18n.t'orders-banktransaction.offer_price_amount' %></td>
    </tr>  
    <tr class="offer_sosed_info_item"> 
      <td><%= I18n.t'orders-banktransaction.offer_purpose' %>:</td>
      <td><%= I18n.t'orders-banktransaction.offer_purpose_text' %></td>
    </tr>
    <tr class="offer_sosed_info_item">
      <td><%= I18n.t'orders-banktransaction.offer_account' %>:</td>
      <td><%= I18n.t'orders-banktransaction.offer_mojsosed_account' %></td>
    </tr> 
    <tr class="offer_sosed_info_item">
      <td><%= I18n.t'orders-banktransaction.offer_company' %>:</td>
      <td><%= I18n.t'orders-banktransaction.offer_company_mojsosed' %></td>
    </tr> 
    <tr class="offer_sosed_info_item">
      <td><%= I18n.t'orders-banktransaction.offer_tax_id' %>:</td>
      <td><%= I18n.t'orders-banktransaction.offer_tax_id_mojsosed' %></td>
    </tr> 
    <tr class="offer_sosed_info_item">
      <td><%= I18n.t'orders-banktransaction.offer_address' %>:</td>
      <td><%= I18n.t'orders-banktransaction.offer_mojsosed_address' %></td>
    </tr> 
    <tr class="offer_sosed_info_item">
      <td><%= I18n.t'orders-banktransaction.offer_city' %>:</td>
      <td><%= I18n.t'orders-banktransaction.offer_mojsosed_city' %></td>
    </tr> 
  </table>

  <div class="offer_show_lead">
    <div class="offer_show_lead_title">
      <%= @lead.business_type %> 
    </div>
    <div class="offer_show_lead_body">
      <div class="offer_show_lead_subtitle">
        <%= I18n.t'orders-banktransaction.lead.location' %>: </div><%= @lead.location %>       
      <div class="offer_show_lead_subtitle">
        <%= I18n.t'orders-banktransaction.lead.zip' %>:</div><%= @lead.zip %>            
      <div class="offer_show_lead_subtitle">
        <%= I18n.t'orders-banktransaction.lead.time' %>:</div> <%= @lead.time %>
      <div class="offer_show_lead_subtitle">          
        <%= I18n.t'orders-banktransaction.lead.description' %>:</div> <%= @lead.description %>
      <div class="offer_show_lead_subtitle">   
        <%= I18n.t'orders-banktransaction.lead.name' %>:</div> <%= @lead.name %>          
    </div>
  </div>

  <div class="offer_instructions">
    <%= I18n.t'orders-banktransaction.offer_instructions' %>
  </div> 



</div>
<% end %>

</body>
</html>