<html>
<head>
  <title></title>
</head>
<body>
  <!-- 
#############################################################################
# BOUGHT LEADS 
#############################################################################
-->
<% if user_signed_in? && @orders.present? %>
    <h2>MY CUSTOMERS:</h2>
      <% @orders.where(selector_id: current_user.id, paid: true).each do |order| %>
        Business Type: <%= order.selected.business_type %> <br>
        Location: <%= order.selected.location %> <br>
        Time: <%= order.selected.time %> <br>
        Description: <%= order.selected.description %> <br>
        ZIP: <%= order.selected.zip %> <br>
        <strong>Customer contact information:</strong><br>
        Name: <%= order.selected.name %> <br>
        Phone: <%= order.selected.phone %> <br>
        E-mail: <%= order.selected.email %> <br>      
        <br>
      <% end %> 
<% else %>
  <h2>MY CUSTOMERS:</h2>
<% end %>


<% if user_signed_in? && @orders.present? %>
    <h2>MY WISH LIST:</h2>
      <% @orders.where(selector_id: current_user.id, paid: false).each do |order| %>
        Business Type: <%= order.selected.business_type %> <br>
        Location: <%= order.selected.location %> <br>
        Time: <%= order.selected.time %> <br>
        Description: <%= order.selected.description %> <br>
        ZIP: <%= order.selected.zip %> <br>
        <strong>Customer contact information:</strong><br>
        Name: <%= order.selected.name %> <br>
        Phone: <%= order.selected.phone %> <br>
        E-mail: <%= order.selected.email %> <br>  
        <br>
      <% end %> 
<% else %>
  <h2>MY WISHLIST:</h2>
 You have to <%= link_to "Sign up", 
    new_user_registration_path %> or
    <%= link_to "Login", 
    new_user_session_path %> to see your customers. <br>
<% end %>

</body>
</html>