<html>
<head>
  <title></title>
</head>
<body>
  <% if user_signed_in? && @orders.present? %>
  <div class="address_book_columns">
    <% @orders.where(selector_id: current_user.id, paid: false).each do |order| %>
    <div class="address_book_lead_box">
      <div class ="address_book_lead_title">
        <%= order.selected.business_type %>
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
          <%= order.selected.location %> </div>
        <div class="address_book_lead_subtitle">
          <%= I18n.t'ordersindex-lead.zip' %>:</div> <%= order.selected.zip %> 
        <div class="address_book_lead_subtitle">
          <%= I18n.t'ordersindex-lead.description' %>:</div><%= order.selected.description %>
        <div class="address_book_lead_subtitle">
          <%= I18n.t'ordersindex-lead.time' %>:</div><%= order.selected.time %> 
        <div class="address_book_lead_subtitle">
          <%= I18n.t'ordersindex-lead.name' %>:</div><%= order.selected.name %>
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to("#{I18n.t'ordersindex-buttons.buy'}",
            {
              :controller => 'orders', 
              :action => 'show', 
              :id => order.id
              },
            :html =>
            {
              :method => :get, 
              :remote => true
            }
           ) %> 
        </div>
        <div class="address_book_remove_button">
          <%= form_for(current_user.orders.find_by_selected_id(order.selected),
            html: { method: :delete }) do |c| %>
          <%= c.submit 'OR remove this lead from reserved' %>
            <% end %> 
        </div>
      </div>
    </div>
      <% end %> 
  </div>
<% else %>
      <div class="address_book_link_to_signup">
      You have to <%= link_to "#{I18n.t'ordersindex-buttons.signup'}", 
      new_user_registration_path %> or
      <%= link_to "#{I18n.t'ordersindex-buttons.login'}", 
      new_user_session_path %> <%= I18n.t'ordersindex-notifications.to-see-address-book' %> . 
    </div>
<% end %>

</body>
</html>