<div class="body_orders_reserved">
<% if user_signed_in? && @orders.present? %>
  <div class="columns">
    <ul class="wookmark">
    <% @orders.where(selector_id: current_user.id, paid: false).sort.reverse.each do |order| %>
    <div class="lead_box">
      <div class ="address_book_lead_title">
        <%= order.selected.business_type %>
      </div>
      <div class="address_book_lead_body">
        <div class="address_book_lead_subtitle">
          <%= I18n.t'ordersindex-lead.location' %> </div> <%= order.selected.location %> 
        <div class="address_book_lead_subtitle">
          <%= I18n.t'ordersindex-lead.zip' %>:</div> <%= order.selected.zip %> 
        <div class="address_book_lead_subtitle">
          <%= I18n.t'ordersindex-lead.description' %>:</div><%= order.selected.description %>
        <div class="address_book_lead_subtitle">
          <%= I18n.t'ordersindex-lead.time' %>:</div><%= order.selected.time %> 
        <div class="address_book_lead_subtitle">
          <%= I18n.t'ordersindex-lead.name' %>:</div><%= order.selected.name %>
      </div>
      <div class="address_book_lead_notification">
        <%= I18n.t'ordersindex-notifications.customer-info' %>:
        <div class="address_book_lead_notification_explanation">
          (<%= I18n.t'ordersindex-notifications.customer-info-explanation' %>) 
        </div>
      </div>
      <div class="address_book_buttons">
        <div class="address_book_buy_button">
          <%= link_to("#{I18n.t'ordersindex-buttons.buy'}",
            {
              :controller => 'orders', 
              :action => 'show', 
              :id => order.id
              },
            :html =>
            {
              :method => :get, 
              :remote => true
            }
           ) %> 
        </div>
        <div class="address_book_remove_button">
          <%= form_for(current_user.orders.find_by_selected_id(order.selected),
            html: { method: :delete }) do |c| %>
          <%= c.submit "#{I18n.t'ordersindex-buttons.remove-from-reserved'}" %>
            <% end %> 
        </div>
      </div>
    </div>
  <% end %> 
</ul>
</div>
<% else %>
 <%= render 'orders/body_dummy_orders_reserved' %>
     <% if user_signed_in? %>
      <div class="address_book_link_to_signup">
        <%= I18n.t'ordersindex-notifications.signed_in_but_no_orders' %>   
    </div>
    <% else %>
    <div class="reserved_link_to_signup">
      <%= I18n.t'ordersindex_not_signed_in.text_box' %> 
      <%= link_to "#{I18n.t'ordersindex-buttons.signup'}", new_user_registration_path, :class=>"address_book_signup" %> /
      <%= link_to "#{I18n.t'ordersindex-buttons.login'}", 
      new_user_session_path, :class=>"address_book_signin" %>.
    </div>
<% end %>
<% end %>
</div>