<% if @order.present? %>
  <div class="order_show">
  <div class="order_show_title">
    <%= @lead.business_type %> 
  </div>
  <div class="order_show_body">
    <div class="order_show_subtitle">
    <%= I18n.t'ordersshow-lead.location' %>:</div><%= @lead.location %>       
    <div class="order_show_subtitle">
    <%= I18n.t'ordersshow-lead.zip' %>:</div><%= @lead.zip %>          
    <div class="order_show_subtitle">
    <%= I18n.t'ordersshow-lead.time' %>:</div><%= @lead.time %>      
    <div class="order_show_subtitle">
    <%= I18n.t'ordersshow-lead.description' %>:</div><%= @lead.description %>   
    <div class="order_show_subtitle">
    <%= I18n.t'ordersshow-lead.name' %>:</div><%= @lead.name %>        
    <% if user_signed_in? %> 
      <% if @lead.reverse_orders.where(selector_id: current_user.id).present? %>
        <% if @lead.reverse_orders.where(selector_id: current_user.id).first.paid == true %>
            <div class="order_show_subtitle">
            <%= I18n.t'ordersshow-lead.phone' %>:</div><%= @lead.phone %>  
            <div class="order_show_subtitle">
            <%= I18n.t'ordersshow-lead.email' %>:</div><%= @lead.email %>          
            </div>
          </div>
          <div class="order_show_notes">
            <div class="order_show_notes_title">
              <%= I18n.t'ordersshow-lead.notes' %>  
            </div>                             
            <%= form_for (@order) do |l| %>
              <div class="order_show_notes_text_area">
                <%= text_area(:order, :notes, :size => 20, :value => "#{@order.notes}") %>
              </div>
              <div class="order_show_notes_submit">
                <%= l.submit "#{I18n.t'ordersshow-links.notes-save'}" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= render 'leads/payment_buttons' %>
        <% end %>
      <% else %>
        <%= form_for(current_user.orders.build(selected_id: @lead.id)) do |o| %>
          <%= o.hidden_field :selected_id %>
          <div class="order_show_buy">       
            <%= o.submit "#{I18n.t'ordersshow-links.buy'}" %>
          </div>
        <% end %>
      <% end %> 
    <% else%>
      <div class="order_show_buy">  
        <%= link_to "#{I18n.t'ordersshow-links.buy'}", user_registration_path %>
      </div>      
    <% end %>
<% else %>
<div class="order_show_not_avaliable">  
  <%= I18n.t'ordersshow-notification.lead-not-available' %>
</div>
<% end %>


