<h2>CHOOSE CAMPAIGNS</h2> FROM WHICH YOU WANT TO RECEIVE CUSTOMER CONTACTS
    <body>
      
    <%= remember_title = '' %>
    <% @campaigns.each do |campaign| %>
      
      <% if campaign.title != remember_title %>
        <h3><%= campaign.title %></h3>
      <% end %>
      <% remember_title = campaign.title %>
      
      <% if campaign.title == "Painting" %>
        <%= link_to campaign.location, campaign %>

      <% elsif campaign.title == "Fasades" %>
        <%= link_to campaign.location, campaign %>

      <% elsif campaign.title == "Knauf" %>
        <%= link_to campaign.location, campaign %>

      <% elsif campaign.title == "Mechanical Installations" %>
        <%= link_to campaign.location, campaign %>

      <% elsif campaign.title == "Electrical Installations" %>
        <%= link_to campaign.location, campaign %>

      <% elsif campaign.title == "Renovations" %>
        <%= link_to campaign.location, campaign %>

      <% elsif campaign.title == "Ceramics" %>
        <%= link_to campaign.location, campaign %>

      <% elsif campaign.title == "Parquet" %>
        <%= link_to campaign.location, campaign %>

      <% elsif campaign.title == "Masonry" %>
        <%= link_to campaign.location, campaign %>

      <% elsif campaign.title == "Roofing" %>
        <%= link_to campaign.location, campaign %>
      <% end %> 
      <button><%= link_to "Add", campaign %></button>
      <br>
           
    <% end %> 



