<html>
<head>
  <title></title>
</head>
<body>
 <h2>Create new campaign</h2>
  <h3>Can't find campaign for your business and location? You can create new campaign now.<br>
    It will be automatically added to campaigns you applied for (see Dashboard on home page). </h3>
  <%= form_for (@campaign) do |c| %>
     <%= c.select :title, @business_types, {:prompt=>'Select business type'} %> <br>
    <%= c.select :location, @business_locations, {:prompt=>'Select location'} %> <br>
    <% if user_signed_in? %>
      <%= c.submit "Create" %>
    <% else %>
      You have to <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Login", new_user_session_path %> to create a new campaign.
    <% end %>
  <% end %>
</body>
</html>



