<html>
<head>
  <title></title>
</head>
<body>
  <%= link_to "Edit campaign", edit_campaign_path(@campaign) %> <br>
  Title: <%= @campaign.title %> <br>
  Location: <%= @campaign.location %> <br>
  <section>
    <%= render 'shared/coown' %>
  </section>
  <section>
    <%= render 'shared/stats_campaign' %>
  </section>
</body>
</html>