<html>
<head>
  <title></title>
</head>
<body>
  <h3><%= @campaign.title %>, <%= @campaign.location %> </h3>  
  <strong>Applied: <%= @campaign.coowners.count %></strong> <br>
  Need <strong><%= 5-@campaign.coowners.count %> more people</strong> to start the campaing. <br>
  <%= render 'shared/campaign_interaction' %><br> 
  <strong>Created:</strong> <%= @campaign.created_at.to_date %> 

</body>


</html>