<html>
<head>
  <title></title>
</head>
<body>
  <%= link_to "Edit campaign", edit_campaign_path(@campaign) %> <br>
  Title: <%= @campaign.title %> <br>
  Location: <%= @campaign.location %> <br>
  <section>
    <% if current_user.coowning?(@campaign) %>
      <%= render 'uncoown' %>
    <% else %>
      <%= render 'coown' %>
    <% end %>
  </section>
  <section>
    <%= render 'shared/stats_campaign' %>
  </section>
</body>
</html>