<div class="bottom_menu_bar">
  <a href="<%= root_path %>"><i class="fa fa-home"></i><%= I18n.t'application.bottom-menu.home' %></a>
  <a href="<%= reserved_path %>"><i class="fa fa-star"></i> <%= I18n.t'application.bottom-menu.reserved' %></a>
  <a href="<%= address_book_path %>"><i class="fa fa-users"></i> <%= I18n.t'application.bottom-menu.address-book' %></a>
  <a href="<%= profile_path %>"><i class="fa fa-cog"></i> <%= I18n.t'application.bottom-menu.profile' %></a>
</div>