<!DOCTYPE html>

<head>
  <title>Sosed.si tehnološka podpora</title>
  <meta name="description" content="Računalniška pomoč na domu. Vse dni v tednu, 365 dni na leto. Od 8h do 20h. Brezplačna številka 080 4144." />
  <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Update your html tag to include the itemscope and itemtype attributes. -->
  <html itemscope itemtype="http://schema.org/Article">
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Sosed.si tehnološka podpora">
  <meta itemprop="description" content="Računalniška pomoč na domu. Vse dni v tednu, 365 dni na leto. Od 8h do 20h. Brezplačna številka 080 4144.">
  <meta itemprop="image" content="http://www.leadshareapp.com/images/interior1.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sosed0804144">
  <meta name="twitter:title" content="Sosed.si tehnološka podpora">
  <meta name="twitter:description" content="Računalniška pomoč na domu. Vse dni v tednu, 365 dni na leto. Od 8h do 20h. Brezplačna številka 080 4144.">
  <meta name="twitter:creator" content="@ninabreznik">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="http://www.leadshareapp.com/images/interior1.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="Sosed.si tehnološka podpora" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://www.leadshareapp.com/" />
  <meta property="og:image" content="http://www.leadshareapp.com/images/interior1.jpg" />
  <meta property="og:description" content="Računalniška pomoč na domu. Vse dni v tednu, 365 dni na leto. Od 8h do 20h. Brezplačna številka 080 4144." />
  <meta property="og:site_name" content="Sosed" />
  <meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
  <meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
  <meta property="article:section" content="Computers" />
  <meta property="article:tag" content="računalniški servis, računalniki, sosed, sosed.si, računalniška pomoč, servis računalnikov" />
  <meta property="fb:admins" content="1455836059" />
  <style>
    @-ms-viewport{
      width: device-width;
    }
  </style>
  <!--Start of Analytics Script-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-27401211-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!--End of Analytics Script-->
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//v2.zopim.com/?2630UOyNDT97hcB07HX3Xt4AKW4x9cgB';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script>
  <!--End of Zopim Live Chat Script-->
  <!--Start of SHARE Buttons Script-->
  <script>
document.write('<script src="//sharebutton.net/plugin/sharebutton.php?type=vertical&u=' + encodeURIComponent(document.location.href) + '"></scr' + 'ipt>');
</script>
 <!--End of SHARE Buttons Script-->
</head>

<body>
  <a id="top" name="top"> &nbsp; </a>
 <div class="top_menu_bar">
  <a href="<%= leads_new_path %>"><%= image_tag 'sosed.biz.png', :class => 'logo' %></a>
</div>    
  <%= yield %>

  <a href='#top'><i class="fa fa-arrow-circle-up"></i></a>
</body>
</html>


