<!DOCTYPE html>

<head>
  <title>LeadShareApp</title>
  <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <a id="top" name="top"> &nbsp; </a>
  
  <%= render 'layouts/top_menu' %>
  
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
    
  <%= yield %>

  <%= render 'layouts/bottom_menu' %>

  <a href='#top'><i class="fa fa-arrow-circle-up"></i></a>

  <%= render 'layouts/wookmark' %>

</body>
</html>


