<!DOCTYPE html>
<head>
    <title>LeadShareApp</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="/assets/app.css">
  </head>
<body>
  <div class="top_menu_bar">
    <img class="logo" src="/assets/sosed.biz.png"/>
    <% if user_signed_in? %>
      <div class="logged_user"> 
        <%= current_user.email %> 
      </div>
    <% end %>

    <div class="info">
      <%= link_to "$INFO", about_path %>
    </div>
  </div>

  <div class="bottom_menu_bar">
    <div class="bottom_menu_button">
      <%= link_to "$HOME", root_path %>
    </div>
    <div class="bottom_menu_button">
      <%= link_to "$LIKED", liked_path %>
    </div>
    <div class="bottom_menu_button">
      <%= link_to "$ADDRESS BOOK", address_book_path %>
    </div>
    <div class="bottom_menu_button">
      <%= link_to "$PROFILE", profile_path %>
    </div>
  </div>
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  <%= yield %>


  </body>
</html>

