<!DOCTYPE html>
<head>
    <title>LeadShareApp</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="assets/app.css">
  </head>
<body>
  <% if user_signed_in? %>
    Logged in as 
    <strong> <%= current_user.email %> </strong>
  <% else %>
    <%= link_to "Sign up", 
    new_user_registration_path %> |
    <%= link_to "Login", 
    new_user_session_path %>
  <% end %>
  <strong><%= link_to "$INFO", about_path %></strong>
    <ul>
      <%= link_to "$HOME", root_path %>
      <%= link_to "$LIKED", liked_path %>
      <%= link_to "$ADDRESS BOOK", address_book_path %>
      <%= link_to "$PROFILE", profile_path %>
    </ul>
  </nav>
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  <%= yield %>


  </body>
</html>

