<!DOCTYPE html>
<head>
    <title>LeadShareApp</title>
    <%= csrf_meta_tags %>
  </head>
<body>
  <% if user_signed_in? %>
    Logged in as 
    <strong> <%= current_user.email %> </strong>
  <% else %>
    <%= link_to "Sign up", 
    new_user_registration_path %> |
    <%= link_to "Login", 
    new_user_session_path %>
  <% end %>
  <strong>$INFO</strong>
    <ul>
      <a href="/">$HOME</a>
      <%= link_to "$LIKED", liked_path %>
      <%= link_to "$ADDRESS BOOK", address_book_path %>
      <a href="/profile">$PROFILE</a>
    </ul>
  </nav>
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  <%= yield %>
  <div style="
    background-color  : #ffffff;
    position          : absolute;
    left              : 0px;
    width             : 100%;
    margin            : 0;
    padding           : 0;
    border-top-style  : solid;
    border-top-color  : #000000;
    border-top-width  : 5px;
    margin-top        : 100px;
  ">
    <%= render 'shared/single_page_app' %>
  </div>


  </body>
</html>

