<!DOCTYPE html>

<head>
  <title>RefugeesWork</title>
  <meta name="description" content="RefugeesWork is the iniciative that tries to help refugees/newcomers to connect with the locals through working together." />
  <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Update your html tag to include the itemscope and itemtype attributes. -->
  <html itemscope itemtype="http://schema.org/Article">
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="RefugeesWork">
  <meta itemprop="description" content="RefugeesWork is the iniciative that tries to help refugees/newcomers to connect with the locals through working together.">
  <meta itemprop="image" content="http://www.refugeeswork.com/images/logo.png">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="RefugeesWork">
  <meta name="twitter:title" content="RefugeesWork">
  <meta name="twitter:description" content="RefugeesWork is the iniciative that tries to help refugees/newcomers to connect with the locals through working together.">
  <meta name="twitter:creator" content="@ninabreznik">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="http://www.refugeeswork.com/images/logo.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="RefugeesWork" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http:/www.refugeeswork.com" />
  <meta property="og:image" content="http://www.refugeeswork.com/images/logo.png" />
  <meta property="og:description" content="RefugeesWork is the iniciative that tries to help refugees/newcomers to connect with the locals through working together." />
  <meta property="og:site_name" content="RefugeesWork" />
  <meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
  <meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
  <meta property="article:section" content="refugees" />
  <meta property="article:tag" content="refugees, work, help, war, crisis" />
  <meta property="fb:admins" content="1455836059" />
  <style>
    @-ms-viewport{
      width: device-width;
    }
  </style>
</head>

<body>
  <a id="top" name="top"> &nbsp; </a>

  <%= render 'layouts/top_menu' %>

  <%= yield %>

  <%= render 'layouts/bottom_menu' %>

  <a href='#top'><i class="fa fa-arrow-circle-up"></i></a>

  <%= render 'layouts/wookmark' %>

</body>

</html>
