<!DOCTYPE html>
<head>
    <title>LeadShareApp</title>
    <%= csrf_meta_tags %>
  </head>
<body>
  <nav>
      <% if user_signed_in? %>
      Logged in as 
      <strong>
      <%= current_user.email %>
      </strong>.
      <%= link_to 'Edit profile', 
      edit_user_registration_path %> |
      <%= link_to "Logout", 
      destroy_user_session_path, 
      method: :delete %>
    <% else %>
      <%= link_to "Sign up", 
      new_user_registration_path %> |
      <%= link_to "Login", 
      new_user_session_path %>
    <% end %>
    <ul>
      <a href="/campaigns">FILTER</a> 
      <a href="/leads">LEADS</a>
    </ul>
  </nav>

  <%= yield %>
  <div style="
    background-color  : #ffffff;
    position          : absolute;
    left              : 0px;
    width             : 100%;
    margin            : 0;
    padding           : 0;
    border-top-style  : solid;
    border-top-color  : #000000;
    border-top-width  : 5px;
    margin-top        : 100px;
  ">
    <%= render 'shared/single_page_app' %>
  </div>


  </body>
</html>

